@model List<QuanLyHopDongVaKySo_API.ViewModels.PContractViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="header">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="listTable">
        <table class="table">
            <thead>
                <tr style="color: #8B909A;">
                    <th scope="col">ID</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">NGÀY ĐĂNG KÝ DỊCH VỤ</th>
                    <th scope="col">HỌ VÀ TÊN</th>
                    <th scope="col">LOẠI HỢP ĐỒNG ĐĂNG KÝ</th>
                    <th scope="col">TRẠNG THÁI</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach(var item in Model)
                {
                    <tr>
                        <th scope="row">@item.PContractID</th>
                        <td>@item.CustomerEmail</td>
                        <td>@item.DateCreated</td>
                        <td>@item.CustomerName</td>
                        <td>@item.TOS_ID</td>
                        <td>
                            <div style="background: rgba(255, 198, 0, 0.20); color:#FFC600;display: flex;align-items: center;justify-content: center;">
                                Chờ ký
                            </div>

                        </td>
                        <td>
                            <a>Chi tiết</a>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>