@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMDetailsContract
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment _hostingEnvironment

@{
    // Lấy link trực ảnh từ file tỉnh
    List<string> imageFilesContract = new List<string>();
    string fileDMinuteNull = "Resource/Image/empty.png";
    string folderPath = System.IO.Path.Combine(_hostingEnvironment.WebRootPath, "PContractImage"); // + thêm ID của contract

    string? folderItemContract = System.IO.Path.Combine(folderPath, Model.PendingContracts.PContractID);

    if (folderItemContract != null)
    {
        imageFilesContract = Directory.GetFiles(folderItemContract).ToList();
    }
    string userRole = Context.Request.HttpContext.Session.GetString("Role");

}
<div class="container-fluid">
    @if(userRole == "Admin")
    {
        Layout = "_AdminLayout";

        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex rounded">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"><a>Nhân viên kinh doanh</a></li>
                    <li class="breadcrumb-item"><a>Quản lý hợp đồng</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> @Model.Tille</li>
                </ol>
            </nav>
            <h1 class="typeHead">CHI TIẾT @{Model.Tille.ToUpper();}</h1>
            <div class="row">
                <a class="col-md-2 button-design" asp-action="@Model.ViewBack" asp-controller="BusinessStaff">
                    <i class="ph-bold ph-arrow-left">
                        
                    </i>
                    QUAY LẠI
                </a>
            </div>
        </div>

    }
    else
    {
        Layout = "_Layout";

        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex rounded">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"><a>Quản lý hợp đồng</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> @Model.Tille</li>
                </ol>
            </nav>
            <h1 class="typeHead">CHI TIẾT @{Model.Tille.ToUpper();}</h1>
            <div class="row">
                <a class="col-md-2 button-design" asp-action="@Model.ViewBack" asp-controller="BusinessStaff">
                    <i class="ph-bold ph-arrow-left">
                    </i>
                    QUAY LẠI
                </a>
            </div>
        </div>

    }
    <div class="row bg-white mt-4 rounded mx-auto my-auto">
        <div class="col-md-6">
            <div class="showFile">
                <h4 class="typeHead">@Model.Tille</h4>
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active " style="width:800px;">
                            <img src="~/Resource/Image/LOGO/1.png" alt="Hình ảnh" style="margin:100px auto;" />
                        </div>
                        @if (folderItemContract != null)
                            @foreach (var imgPath in imageFilesContract)
                            {
                                <div class="carousel-item" style="max-height: 800px;overflow-y: scroll;">
                                    <img src="@Url.Content("~/PContractImage/"+Model.PendingContracts.PContractID+"/" + System.IO.Path.GetFileName(imgPath))" alt="Hình ảnh" style="width:100%;" />
                                </div>
                            }
                        else
                        {
                            <div class="carousel-item" style="max-height: 800px;overflow-y: scroll;">
                                <img src="~/@fileDMinuteNull" alt="Hình ảnh" width="100%" />
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" style="margin: auto;background-color: black;font-size: 100px;width: 50px;height: 100px;">
                        <span class="carousel-control-prev-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button style="margin: auto;background-color: black;font-size: 100px; width: 50px;height: 100px;" class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>


        <div class="inforCus col-md-6 mt-4"  style=" max-height:700px; overflow-y: scroll; ">
            <h4 class="typeHead">
                Thông tin khách hàng
            </h4>
            <form class="row g-3" style="max-width:950px;">
                <div class="col-md-6">
                    <label for="inputName" class="form-label fw-bold">Họ và tên</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Họ và tên" asp-for="@Model.Customer.FullName" readonly>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label fw-bold ">Giới tính</label>
                    @if (Model.Customer.Gender == 1)
                    {
                        <input class="form-control" value="Nam" readonly>
                    }
                    else
                    {

                        <input class="form-control" value="Nữ" readonly>
                    }
                </div>
                <div class="col-md-6">
                    <label for="inputCCCD" class="form-label fw-bold ">CCCD/CMND</label>
                    <input type="text" class="form-control" id="inputCCCD" placeholder="CCCD/CMND" asp-for="@Model.Customer.Identification" readonly>
                </div>
                <div class="col-md-6">
                    <label for="inputPhone" class="form-label fw-bold ">Số điện thoại</label>
                    <input type="text" class="form-control" id="inputPhone" placeholder="Số điện thoại" asp-for="@Model.Customer.PhoneNumber" readonly>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label fw-bold">Địa chỉ Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Địa chỉ Email" asp-for="@Model.Customer.Email" readonly>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label fw-bold ">Nơi ở</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Địa chỉ nơi ở" asp-for="@Model.Customer.Address" readonly>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label fw-bold">Mã hợp đồng</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="IDxxx" asp-for="@Model.PendingContracts.PContractID" readonly>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label fw-bold">Loại dịch vụ đã đăng ký</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="WIFI" asp-for="@Model.PendingContracts.TOS_ID" readonly>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label fw-bold">Chữ ký khách hàng</label>
                    <div class="d-flex align-items-center">
                        <input style="width: 15px; height: 15px; background-color: @(Model.PendingContracts.IsCustomer == "Chờ ký"? "yellow":"green"); border-radius: 50%; margin-right: 10px;">
                         @Model.PendingContracts.IsCustomer
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label fw-bold">Chữ ký giám đốc</label>
                    <div class="d-flex align-items-center">
                        <input style="width: 15px; height: 15px; background-color: @(Model.PendingContracts.IsDirector == "Chờ ký"? "yellow":"green"); border-radius: 50%; margin-right: 10px;">
                         @Model.PendingContracts.IsDirector
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label fw-bold">Ngày tạo</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="IDxxx" asp-for="@Model.PendingContracts.DateCreated" readonly>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label fw-bold">Mã Biên bản lắp </label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="WIFI" asp-for="@Model.PendingContracts.DateCreated" readonly>
                </div>
                <h4 class="typeHead mt-3">
                    Thông tin nhân viên tạo hợp đồng
                </h4>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label fw-bold">Mã nhân viên</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="IDxxx" asp-for="@Model.PendingContracts.EmployeeCreatedId" readonly>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label fw-bold">Họ và tên</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="WIFI" asp-for="@Model.Employee.FullName" readonly>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label fw-bold">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="IDxxx" asp-for="@Model.Employee.Email" readonly>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label fw-bold">Số điện thoại</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="WIFI" asp-for="@Model.Employee.PhoneNumber" readonly>
                </div>
                @if (Model.PendingContracts.Reason != null)
                {
                    <div class="col-md-12">
                        <label for="inputEmail4" class="form-label">Lý do từ chối</label>
                        <textarea style="width:500px; height:100px;" asp-for="@Model.PendingContracts.Reason" readonly> </textarea>
                    </div>
                }
            </form>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myCarousel').carousel({
            interval: false
        });
    });
</script>