@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMPersonalPage
@{
}
<!-- ssss-->
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

<!-- SuperSignature : Script (required) -->
<script language="javascript" type="text/javascript" src="~/Scripts/ss.js"></script>
<!-- [[[ ***********  IMPORTANT: DONOT USE THIS SS.JS ON PRODUCTION;
     USE THE ONE AVAILABLE TO DOWNLOAD FROM YOUR DASHBOARD (POST PURCHASE) ************* ]]] -->
<!-- BOOTSTRAP 4 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
@* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 *@
<div class="container-fluid">
    <div class="header">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="body">
        <div class="row justify-content-around" style="height:365px;">
            <div class="col-6 row" style="max-width:700px;">
                <div class="box_avtr" style=" margin: auto 0 ;
                width: 257px;
                bottom: 30px;
                left: 500px;
                display: flex;
                flex-direction: column;
                    align-items: center;">
                    @if (Model.Employee.Image == null)
                    {
                        if (Model.Employee.Gender == 1)
                        {
                            <img src="~/Avatars/blank_avatar_man.png" alt="Avatar" style=" width: 257px; height: 210px; border: 7px solid #FFF;" />
                        }
                        else
                        {

                            <img src="~/Avatars/blank_avatar_woman.png" alt="Avatar" style=" width: 257px; height: 210px; border: 7px solid #FFF;" />
                        }
                    }
                    else
                    {
                        <img src="~/@Model.Employee.Image" alt="Avatar" style=" width: 257px; height: 210px; border: 7px solid #FFF;" />
                    }
                    <h4 style="color:#FFFFFF; padding-top:10px; ">@Model.Employee.FullName</h4>
                    <h5 style="color:#FFFFFF; ">
                        @foreach (var p in Model.Positions)
                        {

                            @if (p.PositionID == Model.Employee.PositionID)
                            {
                                @p.PositionName
                            }
                        }
                    </h5>
                </div>
                <div id="box_load" style="width:300px; margin:auto;">
                    <form enctype="multipart/form-data" asp-action="UpdateInfo" asp-controller="BusinessStaff" method="post">
                        <button class="upload" type="submit">
                            <i class="ph-bold ph-upload-simple"></i>
                        </button>
                        <input type="file" class="tt" style="width:200px;" accept="image/*" asp-for="Employee.ImageFile" />
                        <input type="text" class="form-input d-none" asp-for="Employee.EmployeeId" readonly>
                        <span class="text-danger" asp-validation-for="Employee.ImageFile"></span>
                    </form>
                </div>
            </div>
            <div class="col-5" style="max-width:800px;">
                <div class="row">
                    <h5 class="title">Tạo chữ ký</h5>
                    <div class="col-md-8">
                        @await Component.InvokeAsync("SignControl")
                    </div>
                    <div class="col-md-4">
                        <div class="form-inline" style="display: flex;flex-direction: column;margin-left: 150px; margin-top: 100px;">
                            <input type="button" id="btnUndo" class="btn btn-primary" onclick="UndoSignature('ctlSignature');" value="Hoàn tác" />&nbsp;
                            <input type="button" id="btnClear" class="btn btn-danger" onclick="ClearSignature('ctlSignature');" value="Xóa" />&nbsp;
                            <input type="button" id="btnSave" class="btn btn-success" onclick="ValidateSign();" value="Tạo" />&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="max-height:600px;">
            <div class="infor col-5" style="max-height: 600px; overflow-y: scroll;">
                <h4 class="title">Thông tin cá nhân</h4>
                <form class="row justify-content-around g-3" method="post" asp-action="UpdateInfo" asp-controller="BusinessStaff">
                    <div class="col-md-5">
                        <label for="inputName" class="form-label">ID</label>
                        <input type="text" class="form-input" asp-for="Employee.EmployeeId" readonly>
                    </div>
                    <div class="col-md-5">
                        <label for="inputName" class="form-label">Họ tên</label>
                        <input type="text" class="form-input" id="inputName" asp-for="Employee.FullName" readonly>
                    </div>
                    <div class="col-md-5">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-input" id="inputEmail" asp-for="Employee.Email" readonly>
                    </div>
                    <div class="col-md-5">
                        <label for="inputPhone" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-input" id="inputPhone" maxlength="12" asp-for="Employee.PhoneNumber" required>
                    </div>
                    <div class="col-md-5">
                        <label for="inputAddress" class="form-label">CMND / CCCD</label>
                        <input type="text" placeholder="Add" class="form-input" id="inputAddress" asp-for="Employee.Identification" readonly>
                    </div>
                    <div class="col-md-5">
                        <label for="inputAddress" class="form-label">Địa chỉ</label>
                        <textarea type="text" placeholder="Add" class="form-input" id="inputAddress" asp-for="Employee.Address" required></textarea>
                    </div>
                    <div class="col-md-5">
                        <label for="inputDate" class="form-label">Ngày sinh</label>
                        <input type="date" class="form-input" id="inputDate" asp-for="Employee.DateOfBirth" required>
                    </div>
                    <div class="col-md-5">
                        <label for="inputGender" class="form-label">Giới tính</label>
                        <select id="inpuGender" class="form-select" required asp-for="Employee.Gender">
                            <option value="" disabled selected>...chọn giới tính</option>
                            <option value="1">Nam</option>
                            <option value="2">Nữ</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <label for="inputRole" class="form-label">Vai trò</label>
                        <input type="text" class="form-input" id="inputRole" readonly value=" @foreach (var r in Model.Roles)
                               {
                                    if(r.RoleID == Model.Employee.RoleID)
                                    {
                                       @r.RoleName
                                    }
                                }">
                        <input class="d-none" readonly asp-for="Employee.RoleID">
                    </div>
                    <div class="col-md-5">
                        <label for="inputPosition" class="form-label">Chức danh</label>
                        <input type="text" class="form-input" id="inputPosition" readonly value="@foreach (var p in Model.Positions)
                               {
                                    if(p.PositionID == Model.Employee.PositionID)
                                    {
                                       @p.PositionName
                                    }
                                }">
                        <input class="d-none" readonly asp-for="Employee.PositionID">
                    </div>
                    <div class="col-md-5">
                        <label for="inputPhone" class="form-label">Trạng thái tài khoản</label>
                        <div>
                            @if (!Model.Employee.IsLocked)
                            {
                                <input type="radio" class="btn-check " asp-for="Employee.IsLocked" id="false" value="false" autocomplete="off" readonly checked>
                                <label class="btn btn-sm btn-outline-success text-light" id="false-label" for="false">Hoạt động</label>
                            }
                            else
                            {
                                <input type="radio" class="btn-check " asp-for="Employee.IsLocked" id="true" value="true" autocomplete="off" readonly checked>
                                <label class="btn btn-sm btn-outline-danger text-light" id="true-label" for="true">Khoá</label>
                            }
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="inputAddress" class="form-label">Ghi chú</label>
                        <textarea type="text" class="form-input" id="inputAddress" asp-for="Employee.Note" readonly></textarea>
                    </div>
                    <button class="add_cus" style="margin:20px auto; width:50%; padding: 20px; min-height:30px; display:flex; justify-content:center; align-items:center; " type="submit">Lưu thông tin</button>
                </form>
            </div>
            <div class="infor col-5" style="max-height: 600px; overflow-y: scroll;">
                <h4 class="title">Danh sách chữ ký</h4>
                <ul style="list-style:none; display:flex; flex-wrap:wrap; margin:auto; ">
                    @if (Model.PFXCertificate.ImageSignature1 != null)
                    {
                        <li class="avt" style="width:200px;">
                            <img src="~/@Model.PFXCertificate.ImageSignature1" alt="@Model.PFXCertificate.ImageSignature1" style="width:200px; margin: 5px;" class="gallery-item" />
                            <div class="overlay">
                                <a asp-action="DeleteSignature" asp-controller="BusinessStaff" asp-route-filePath="@Model.PFXCertificate.ImageSignature1">Xóa</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <img src="~/Resource/Image/empty.png" style="width:200px; margin: 5px;" class="gallery-item" />
                    }
                    @if (Model.PFXCertificate.ImageSignature2 != null)
                    {
                        <li class="avt" style="width:200px;">
                            <img src="~/@Model.PFXCertificate.ImageSignature2" alt="@Model.PFXCertificate.ImageSignature2" style="width:200px; margin: 5px;" class="gallery-item" />
                            <div class="overlay">
                                <a asp-action="DeleteSignature" asp-controller="BusinessStaff" asp-route-filePath="@Model.PFXCertificate.ImageSignature2">Xóa</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <img src="~/Resource/Image/empty.png" style="width:200px; margin: 5px;" class="gallery-item" />
                    }
                    @if (Model.PFXCertificate.ImageSignature3 != null)
                    {
                        <li class="avt" style="width:200px;">
                            <img src="~/@Model.PFXCertificate.ImageSignature3" alt="@Model.PFXCertificate.ImageSignature3" style="width:200px; margin: 5px;" class="gallery-item" />
                            <div class="overlay">
                                <a asp-action="DeleteSignature" asp-controller="BusinessStaff" asp-route-filePath="@Model.PFXCertificate.ImageSignature3">Xóa</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <img src="~/Resource/Image/empty.png" style="width:200px; margin: 5px;" class="gallery-item" />
                    }
                    @if (Model.PFXCertificate.ImageSignature4 != null)
                    {
                        <li class="avt" style="width:200px;">
                            <img src="~/@Model.PFXCertificate.ImageSignature4" alt="@Model.PFXCertificate.ImageSignature4" style="width:200px; margin: 5px;" class="gallery-item" />
                            <div class="overlay">
                                <a asp-action="DeleteSignature" asp-controller="BusinessStaff" asp-route-filePath="@Model.PFXCertificate.ImageSignature4">Xóa</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <img src="~/Resource/Image/empty.png" style="width:200px; margin: 5px;" class="gallery-item" />
                    }
                    @if (Model.PFXCertificate.ImageSignature5 != null)
                    {
                        <li class="avt" style="width:200px;">
                            <img src="~/@Model.PFXCertificate.ImageSignature5" alt="@Model.PFXCertificate.ImageSignature5" style="width:200px; margin: 5px;" class="gallery-item" />
                            <div class="overlay">
                                <a asp-action="DeleteSignature" asp-controller="BusinessStaff" asp-route-filePath="@Model.PFXCertificate.ImageSignature5">Xóa</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <img src="~/Resource/Image/empty.png" style="width:200px;" class="gallery-item margin: 5px;" />
                    }
                </ul>
            </div>
            <div class="Img_Sign col-2" style="max-width:300px;">
                <h4 class="title">Tải ảnh chữ ký</h4>
                <div id="box_load" style=" margin:auto; ">
                    <form style="display:contents;" enctype="multipart/form-data" asp-action="UploadSignature" asp-controller="BusinessStaff" method="post">
                        <button class="upload" type="submit">
                            <i class="ph-bold ph-upload-simple"></i>
                        </button>
                        <input type="file" class="tt" style="width:200px;" accept="image/*" asp-for="PFXCertificate.ImageFile" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var statV = false;

    function StatusBar() {
        SignatureStatusBar('ctlSignature', statV);
        statV = !statV; // toggle

        // change status bar look dynamically
        $('#ctlSignature_status').css({ "color": "orangered", "font-size": "12px", "font-weight": "bold", "float": "left" });
    }

    function ValidateSign() {
        var isValid = ValidateSignature('ctlSignature');

        if (!isValid) {
            $('#ctlSignature').css("border", "2px dashed red");
        }
        else {
            $('#ctlSignature').css("border", "2px dashed green");
        }

        if (isValid === true) {
            SaveSign();
        }
    }

    function SaveSign() {

        var btnSave = $("#btnSave");

        btnSave.prop('disabled', true);

        var ctlSignature = { Data: $("#ctlSignature_data").val(), Smooth: $("#ctlSignature_data_smooth").val() };

        $.ajax({
            url: "/BusinessStaff/SaveSignature/",
            data: JSON.stringify(ctlSignature),
            contentType: "application/json",
            type: 'POST',
            cache: false,
            success: function (data) {
                $("#imgSign").attr("src", "/Signs/" + data);
            },
            error: function (textStatus, errorThrown) {
                alert("Unable to save signatures : " + JSON.stringify(textStatus) + " : " + errorThrown);
            }
        });

        btnSave.prop('disabled', false);
        var redirectToUrl = '@Url.Action("Index", "BusinessStaff")';
        window.location.href = redirectToUrl;
    }

    function objctlSignature_status(success, points) {
        $("#liStatus").html("<strong>Signature done? : " + success + ", with " + points + " points.</strong>");
    }

    $(document).ready(function () { StatusBar(); });

    $(document).ready(function () {
        $('#myCarousel').carousel({
            interval: false
        });
    });
</script>