@model IEnumerable<QuanLyHopDongVaKySo_API.Models.TemplateContract>

@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

<div class="container-fluid">
   
    <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex rounded">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Danh sách mẫu hợp đồng</li>
            </ol>
        </nav>
        <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
        <div class="row">
            <input type="search" class="src" placeholder="Tìm kiếm khách hàng" />
            <button class="add_Cus col-md-2 offset-md-7">
                <a asp-controller="BusinessStaff" asp-action="ContractFormPage">
                    THÊM MẪU
                    <i class="ph-bold ph-plus"></i>
                </a>
            </button>
        </div>
    </div>
    <div class="listTable">
        <table class="table">
            <thead>
                <tr style="color: #8B909A;">

                    <th scope="col">ID</th>
                    <th scope="col">Ngày cập nhật</th>
                    <th scope="col">Tên hợp đồng</th>
                    <th scope="col" colspan="3" style="text-align:center;">Hành động</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">


                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.TContactID </th>
                        <td>@item.DateAdded</td>
                        <td>@item.TContractName</td>
                        <td class="action">
                            <a class="button-design" asp-controller="BusinessStaff" asp-action="EditContractFormPage" asp-route-TContactID="@item.TContactID"><i class="ph-bold ph-pencil-simple-line"></i></a>
                            <a class="button-save" onclick="downloadPDF('@item.Base64File','@item.TContractName')"><i class="ph-bold ph-download-simple"></i></a>
                            <a class="button-delete" asp-controller="BusinessStaff" asp-action="DeleteTContract" asp-route-tContractId="@item.TContactID"><i class="ph-bold ph-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function downloadPDF(base64String,fileName) {
        var byteCharacters = atob(base64String);
        var byteNumbers = new Array(byteCharacters.length);
        for (var i = 0; i < byteCharacters.length; i++) {
            byteNumbers[i] = byteCharacters.charCodeAt(i);
        }
        var byteArray = new Uint8Array(byteNumbers);
        var blob = new Blob([byteArray], { type: 'application/pdf' });

        var blobUrl = URL.createObjectURL(blob);

        var a = document.createElement('a');
        a.href = blobUrl;
        a.download = fileName;
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    }
</script>


