@model IEnumerable<QuanLyHopDongVaKySo_API.Models.TemplateContract>

@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

<div class="container-fluid">
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <br />
                <div class="m-l-15">
                    <h4 class="m-b-0"
                        style="width: 512px; height: 52px; color: #2B3674; font-size: 34px; font-family: DM Sans; font-weight: 700; line-height: 42px; word-wrap: break-word">
                        Danh sách hợp đồng mẫu
                    </h4>
                </div>
            </div>

        </div>
    </div>
    <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>


    <div class="listTable">
        <table class="table">
            <thead>
                <tr style="color: #8B909A;">

                    <th scope="col">ID</th>
                    <th scope="col">Ngày cập nhật</th>
                    <th scope="col">Tên hợp đồng</th>
                    <th scope="col" colspan="3" style="text-align:center;">Hành động</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">


                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.TContactID </th>
                        <td>@item.DateAdded</td>
                        <td>@item.TContractName</td>
                        <td>
                            <a asp-controller="BusinessStaff" asp-action="EditContractFormPage" asp-route-TContactID="@item.TContactID">Cấu hình</a>
                        </td>
                        <td>
                            <button onclick="downloadPDF('@item.Base64File','@item.TContractName')">Tải</button>
                        </td>
                        <td>
                            <a asp-controller="BusinessStaff" asp-action="DeleteTContract" asp-route-tContractId="@item.TContactID">Xoá</a>
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" style="margin: 20px; width:300px;">
        <div class="row action">
            <a asp-controller="BusinessStaff" asp-action="ContractFormPage">Thêm mẫu hợp đồng mới </a>
        </div>
    </button>
</div>
<script>
    function downloadPDF(base64String,fileName) {
        var byteCharacters = atob(base64String);
        var byteNumbers = new Array(byteCharacters.length);
        for (var i = 0; i < byteCharacters.length; i++) {
            byteNumbers[i] = byteCharacters.charCodeAt(i);
        }
        var byteArray = new Uint8Array(byteNumbers);
        var blob = new Blob([byteArray], { type: 'application/pdf' });

        var blobUrl = URL.createObjectURL(blob);

        var a = document.createElement('a');
        a.href = blobUrl;
        a.download = fileName;
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    }
</script>


