@model IEnumerable<QuanLyHopDongVaKySo_API.Models.TemplateMinute>

@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

<div class="container-fluid">
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <br />
                <div class="m-l-15">
                    <h4 class="m-b-0"
                        style="width: 512px; height: 52px; color: #2B3674; font-size: 34px; font-family: DM Sans; font-weight: 700; line-height: 42px; word-wrap: break-word">
                        Danh sách hợp đồng biên bản
                    </h4>
                </div>
            </div>

        </div>
    </div>
    <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>


    <div class="listTable">
        <table class="table">
            <thead>
                <tr style="color: #8B909A;">

                    <th scope="col">ID</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Tên hợp đồng</th>
                    <th scope="col">Tên file</th>
                    <th scope="col">Vị trí ký của giám đốc</th>
                    <th scope="col">Vị trí ký của nhân viên</th>
                    <th scope="col">CHI TIẾT</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">


                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.TMinuteID </th>
                        <td>@item.DateAdded</td>
                        <td>@item.TMinuteName</td>
                        <td>@item.TMinuteFile</td>
                        <td>@item.jsonIntallationZone</td>
                        <td>@item.jsonCustomerZone</td>
                        <td>
                            <a asp-controller="BusinessStaff" asp-action="TEditMinute" asp-route-TMinuteID="@item.TMinuteID">Cấu hình</a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" style="margin: 20px; width:300px;">
        <div class="row action">
            <a asp-controller="BusinessStaff" asp-action="MinuteFormPage">Thêm mới hợp đồng <i class="ph-bold ph-user-plus"></i> </a>
        </div>
    </button>
</div>



