@using Newtonsoft.Json;
@{
    string employeeContext = Context.Request.HttpContext.Session.GetString("EmployeeContext");
    Employee employee = JsonConvert.DeserializeObject<Employee>(employeeContext);
    string avatar;
    if (employee.Image == null)
    {
        if (employee.Gender == 1)
        {
            avatar = "Avatars/blank_avatar_man.png";
        }
        else
        {
            avatar = "Avatars/blank_avatar_woman.png";
        }
    }
    else
    {
        avatar = employee.Image;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECHSEAL - Quản lý hợp đồng và ký số</title>
     <!--font web -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" asp-append-version="true"></script>

    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" asp-append-version="true"></script>

    <link rel="icon" href="/2.ico" type="image/x-icon">



    @* Thư viện phân trang trong table  *@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <!-- ICONS -->
    <script src="https://unpkg.com/@@phosphor-icons/web"></script>
   
</head>
<body>
    <header style="background-color:#001529; position:fixed; width:100%; top:0; left:0; z-index:9999;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <div class="logo">
                    <img style="width:40px;" src="~/Resource/Image/LOGO_WITHOUT_BG/2.png" />
                    <a style="color:white; font-weight:bold;" class="navbar-brand">TECHSEAL</a>
                </div>
                <div class="Search_All">
                    <i class="ph-bold ph-magnifying-glass"></i>
                    <input type="text" placeholder="Search.." />
                </div>
            </div>
            <ul class="horizontal-list" style="list-style: none; display:flex; margin-bottom: 0; color:white;">
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="~/@Html.Raw(avatar)" style="width: 40px; height: 40px; border-radius: 100%;" />
                </li>
            </ul>
        </nav>
    </header>
    <div class="contai">
        <div class="loading" id="loading">
            <img src="https://icon-library.com/images/spinner-icon-gif/spinner-icon-gif-10.jpg" alt="loading">
        </div>
        @Html.Partial("_SidebarPartialView")
        <main style="margin-left:270px; margin-top:50px;" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Thư viện Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>

    <!-- Thư viện Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

     <script src="~/js/site.js" asp-append-version="true"></script>    
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@if (TempData["SweetType"] != null && TempData["SweetIcon"] != null && TempData["SweetTitle"] != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var sweetData = {
                title: '@TempData["SweetTitle"]',
                text: '@TempData["SweetText"]',
                icon: '@TempData["SweetIcon"]'
            };

            console.log("Sweet Data:", sweetData);

            Swal.fire({
                title: sweetData.title,
                text: sweetData.text,
                icon: sweetData.icon,
                showCancelButton: false,
                allowOutsideClick: false,
                confirmButtonColor: "green",
                confirmButtonText: "Ok"
            }).then(function () {
                // Handle any additional logic after the SweetAlert is closed.
            });
        });
    </script>
}
