@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMListContractAwait
@{
    string userRole = Context.Request.HttpContext.Session.GetString("Role");
    string defaultImg = null;
    if (Model.PFXCertificate.DefaultImageSignature != null)
    {
        defaultImg = Model.PFXCertificate.DefaultImageSignature.Replace(@"\", @"/");
    }
}
<style>
    #loading-spinner {
        display: none;
        z-index: 1;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        position: fixed;
        top: 100%;
        left: 100%;
        transform: translate(-50%, -50%);
    }

        #loading-spinner > img {
            width: 10rem;
        }
</style>
<div class="container-fluid">
    @if (userRole == "Admin")
    {
        Layout = "_AdminLayOut";
        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"> <a>Giám đốc</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Hợp đồng chờ duyệt</li>
                </ol>
            </nav>
            <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
            <div class="row justify-content-between">
                <input type="search" id="searchInput" class="src" placeholder="Tìm kiếm trong danh sách" />
                <div class="col-md-3 offset-md-6 d-flex justify-content-end">
                    <a class="button-design position-relative" data-bs-toggle="modal" data-bs-target="#Show">
                        Duyệt
                        <span id="countButton" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                           0
                        </span>
                    </a>
                    @* <!-- Modal --> *@
                    <div class="modal fade" id="Show" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">DUYỆT HỢP ĐỒNG</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5>
                                        Chọn chữ ký khác
                                    </h5>
                                    <ul style="max-height:400px; overflow-y:scroll;">
                                        @if (Model.PFXCertificate.ImageSignature1 != null)
                                        {
                                            <li class="image-container" onclick="enableButton('signBtn', this,'@Model.PFXCertificate.ImageSignature1.Replace(@"\",@"/")')">
                                                <img src="~/@Model.PFXCertificate.ImageSignature1.Replace(@"\",@"/")" width="390" height="200" />
                                            </li>
                                        }
                                        @if (Model.PFXCertificate.ImageSignature2 != null)
                                        {
                                            <li class="image-container" onclick="enableButton('signBtn', this,'@Model.PFXCertificate.ImageSignature2.Replace(@"\",@"/")')">
                                                <img src="~/@Model.PFXCertificate.ImageSignature2.Replace(@"\",@"/")" width="390" height="200" />
                                            </li>
                                        }
                                        @if (Model.PFXCertificate.ImageSignature3 != null)
                                        {
                                            <li class="image-container" onclick="enableButton('signBtn', this,'@Model.PFXCertificate.ImageSignature3.Replace(@"\",@"/")')">
                                                <img src="~/@Model.PFXCertificate.ImageSignature3.Replace(@"\",@"/")" width="390" height="200" />
                                            </li>
                                        }
                                        @if (Model.PFXCertificate.ImageSignature4 != null)
                                        {
                                            <li class="image-container" onclick="enableButton('signBtn', this,'@Model.PFXCertificate.ImageSignature4.Replace(@"\",@"/")')">
                                                <img src="~/@Model.PFXCertificate.ImageSignature4.Replace(@"\",@"/")" width="390" height="200" />
                                            </li>
                                        }
                                        @if (Model.PFXCertificate.ImageSignature5 != null)
                                        {
                                            <li class="image-container" onclick="enableButton('signBtn', this,'@Model.PFXCertificate.ImageSignature5.Replace(@"\",@"/")')">
                                                <img src="~/@Model.PFXCertificate.ImageSignature5.Replace(@"\",@"/")" width="390" height="200" />
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" id="signBtn" disabled>
                                        DUYỆT
                                    </button>
                                    <button class="button-save" id="signDefaultBtn">
                                        DUYỆT BẰNG CHỮ KÝ MẶC ĐỊNH
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        Layout = "_Layout";
        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex rounded">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Hợp đồng chờ duyệt</li>
                </ol>
            </nav>
            <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
            <div class="row justify-content-between mx-auto">
                <input type="search" id="searchInput" style="margin-left: 10px;" placeholder="Tìm kiếm hợp đồng" />
                <div class="col-md-3 offset-md-6 d-flex justify-content-end">
                    <a class="button-design position-relative" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Duyệt
                        <span id="countButton" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                           0
                        </span>
                    </a>
                    @* <!-- Modal --> *@
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">DUYỆT HỢP ĐỒNG</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5>
                                        Chọn chữ ký khác
                                    </h5>
                                    <ul style="max-height:400px; overflow-y:scroll;">
                                        @if (Model.PFXCertificate.ImageSignature1 != null)
                                        {
                                            <li class="image-container" onclick="enableButton('signBtn', this,'@Model.PFXCertificate.ImageSignature1.Replace(@"\",@"/")')">
                                                <img src="~/@Model.PFXCertificate.ImageSignature1.Replace(@"\",@"/")" width="390" height="200" />
                                            </li>
                                        }
                                        @if (Model.PFXCertificate.ImageSignature2 != null)
                                        {
                                            <li class="image-container" onclick="enableButton('signBtn', this,'@Model.PFXCertificate.ImageSignature2.Replace(@"\",@"/")')">
                                                <img src="~/@Model.PFXCertificate.ImageSignature2.Replace(@"\",@"/")" width="390" height="200" />
                                            </li>
                                        }
                                        @if (Model.PFXCertificate.ImageSignature3 != null)
                                        {
                                            <li class="image-container" onclick="enableButton('signBtn', this,'@Model.PFXCertificate.ImageSignature3.Replace(@"\",@"/")')">
                                                <img src="~/@Model.PFXCertificate.ImageSignature3.Replace(@"\",@"/")" width="390" height="200" />
                                            </li>
                                        }
                                        @if (Model.PFXCertificate.ImageSignature4 != null)
                                        {
                                            <li class="image-container" onclick="enableButton('signBtn', this,'@Model.PFXCertificate.ImageSignature4.Replace(@"\",@"/")')">
                                                <img src="~/@Model.PFXCertificate.ImageSignature4.Replace(@"\",@"/")" width="390" height="200" />
                                            </li>
                                        }
                                        @if (Model.PFXCertificate.ImageSignature5 != null)
                                        {
                                            <li class="image-container" onclick="enableButton('signBtn', this,'@Model.PFXCertificate.ImageSignature5.Replace(@"\",@"/")')">
                                                <img src="~/@Model.PFXCertificate.ImageSignature5.Replace(@"\",@"/")" width="390" height="200" />
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" id="signBtn" disabled >
                                        DUYỆT
                                    </button>
                                    <button class="button-save" id="signDefaultBtn" >
                                        DUYỆT BẰNG CHỮ KÝ MẶC ĐỊNH
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* <!-- Modal --> *@
                    <div class="modal fade" id="RefuseSign" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="row justify-content-around" style=" margin: 0 auto;">
                                        <div class=" mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">Lý do từ chối</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                        <div class="loading" id="loading">
                                            <img src="https://icon-library.com/images/spinner-icon-gif/spinner-icon-gif-10.jpg" alt="loading">
                                        </div>
                                        <div class="col-mb-5" style="margin: auto;">
                                            <button class="button-save">
                                                Xác nhận
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    <div class="row bg-white mt-4 mx-auto my-auto rounded">
        <div class="listTable">
            <table class="table display" id="myTable">
                <thead>
                    <tr style="color: #8B909A;">
                        <th> <input type="checkbox" id="checkAll" /></th>
                        <th scope="col">ID</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">NGÀY ĐĂNG KÝ DỊCH VỤ</th>
                        <th scope="col">HỌ VÀ TÊN</th>
                        <th scope="col">LOẠI HỢP ĐỒNG ĐĂNG KÝ</th>
                        <th scope="col">TRẠNG THÁI</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model.PContracts)
                    {
                        <tr>
                            <th><input type="checkbox" class="checkbox" data-index="@item.PContractID" /></th>
                            <td>@item.PContractID</td>
                            <td>@item.CustomerEmail</td>
                            <td>@item.DateCreated</td>
                            <td>@item.CustomerName</td>
                            <td>@item.TOS_ID</td>
                            <td class="d-flex align-items-center" >
                                <div style="width: 5px; height: 5px; background-color: #FFC600; border-radius: 50%; margin-right: 20px;">
                                </div>
                              Chờ duyệt
                            </td>
                            <td>
                                <a asp-action="Details_Contract_PendingApproval" asp-controller="Director" asp-route-pContractId="@item.PContractID" onclick="handleLinkClick(event)">Chi tiết</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
    <div id="loading-spinner">
        <img src="https://icon-library.com/images/spinner-icon-gif/spinner-icon-gif-10.jpg" alt="loading">
    </div>
</div>
<script type="text/javascript">

    function handleLinkClick(event) {
        document.getElementById('loading-spinner').style.display = 'block';
    }

    $(document).ready(function () {
        // Khởi tạo DataTable
        $('#myTable').DataTable({
            "searching": false,
            "info": false,
            "lengthMenu": [10, 25, 50, 100],
            "pageLength": 25,
            "language": {
                "decimal": "",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Sau",
                    "previous": "Trước"
                },
                "lengthMenu": "Hiển thị _MENU_ dữ liệu",
                "emptyTable": "Không có dữ liệu"
            }
        });
    });



    document.addEventListener('DOMContentLoaded', function () {
        // Lấy đối tượng ô tìm kiếm và bảng
        var input = document.getElementById('searchInput');
        var table = document.getElementById('myTable');

        // Thêm sự kiện 'input' cho ô tìm kiếm
        input.addEventListener('input', function () {
            // Gọi hàm filterTable khi người dùng nhập liệu
            filterTable();
        });

        function filterTable() {
            // Lấy giá trị từ ô tìm kiếm và chuyển đổi thành chữ thường
            var filter = input.value.toLowerCase();

            // Lấy tất cả các dòng trong tbody của bảng
            var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

            // Lặp qua từng dòng và ẩn hoặc hiển thị dựa trên từ khóa tìm kiếm
            for (var i = 0; i < rows.length; i++) {
                var rowData = rows[i].innerText.toLowerCase();
                if (rowData.includes(filter)) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    });
    var imagePath='';
    function enableButton(buttonId, imageContainer, imageSelected) {
        imagePath = imageSelected;

        // Lấy button và hình ảnh được chọn
        var button = document.getElementById(buttonId);

        // Loại bỏ thuộc tính disabled nếu hình ảnh được chọn
        button.removeAttribute('disabled');

        // Loại bỏ lớp 'selected' từ tất cả các hình ảnh khác
        var allImageContainers = document.querySelectorAll('.image-container');
        allImageContainers.forEach(function (container) {
            container.classList.remove('selected');
        });

        // Thêm lớp 'selected' cho hình ảnh được chọn để tạo hiệu ứng
        imageContainer.classList.add('selected');
    }

    $(document).ready(function () {
        var checkedCount = 0; // Biến để lưu trữ số lượng checkbox đã được chọn

        // Xử lý sự kiện khi checkbox con được click
        $('.checkbox').click(function () {
            if (!$(this).prop('checked')) {
                $('#checkAll').prop('checked', false);
            }
            updateCheckedCount();
            updateCheckedCountRefuse();
        });

        // Hàm cập nhật số lượng checkbox đã được chọn và hiển thị trên button
        function updateCheckedCount() {
            checkedCount = $('.checkbox:checked').length;
            $('#countButton').text(checkedCount);
        }
        function updateCheckedCountRefuse() {
            checkedCount = $('.checkbox:checked').length;
            $('#countButtonRefuse').text(checkedCount);
        }

        var selectedObjects = [];

        // Xử lý sự kiện khi checkbox all được click
        $('#checkAll').click(function () {
            $('.checkbox').prop('checked', $(this).prop('checked'));
            var isChecked = $(this).prop('checked');
            updateCheckedCount();
            updateCheckedCountRefuse();
            // Nếu checkbox all được check, thêm tất cả đối tượng vào danh sách
            if (isChecked) {
                $('.checkbox').each(function () {
                    var id = $(this).attr('data-index');
                    var existingObject = selectedObjects.find(function (obj) {
                        return obj.IdFile === id;
                    });

                    // Nếu đối tượng chưa tồn tại, thêm vào danh sách
                    if (!existingObject) {
                        var newObject = createObjectFromId(id);
                        selectedObjects.push(newObject);
                    }
                });
            } else {
                // Nếu checkbox all được uncheck, xoá tất cả đối tượng khỏi danh sách
                selectedObjects = [];
            }

            // Hiển thị danh sách đối tượng (để kiểm tra)
            console.log(selectedObjects);
        });

        // Xử lý sự kiện khi checkbox được chọn hoặc bỏ chọn
        $(".checkbox").on("change", function () {
            var id = $(this).attr("data-index");
            var isChecked = $(this).prop("checked");

            // Tìm đối tượng trong danh sách với ID tương ứng
            var existingObject = selectedObjects.find(function (obj) {
                return obj.IdFile === id;
            });

            // Nếu checkbox được check và đối tượng không tồn tại, thêm đối tượng mới
            if (isChecked && !existingObject) {
                var newObject = createObjectFromId(id);
                selectedObjects.push(newObject);
            } else if (!isChecked && existingObject) {
                // Nếu checkbox được uncheck và đối tượng tồn tại, xoá đối tượng từ danh sách
                selectedObjects = selectedObjects.filter(function (obj) {
                    return obj.IdFile !== id;
                });
            }

            // Hiển thị danh sách đối tượng (để kiểm tra)
            console.log(selectedObjects);
        });

        // Hàm tạo đối tượng mới từ ID (Thay thế logic này bằng logic của bạn)
        function createObjectFromId(id) {
            // Thực hiện tạo signing model
            return {
                Serial: '@Model.PFXCertificate.Serial',
                IdFile: id,
                Base64StringFile: '',
                ImagePath: '',
                Base64StringFileStamp: '',
                ImagePathStamp: ''
            };
        }

        // Xử lý sự kiện khi nút Gửi được nhấn
        $("#signBtn").on("click", function () {

            var myDiv = document.getElementById('staticBackdrop');

            // Thêm hoặc xóa class
            myDiv.classList.toggle('show');
            myDiv.classList.toggle('hide');

            // Thay đổi giá trị của thuộc tính style
            myDiv.style.display = myDiv.style.display === 'block' ? 'none' : 'block';

            document.getElementById('loading-spinner').style.display = 'block';

            // Gửi danh sách đối tượng đã chọn lên server qua Ajax
            if(imagePath != ''){
                selectedObjects.forEach(function (obj) {
                    obj.ImagePath = imagePath; // Thay thế bằng giá trị mới của ImagePath
                });
            }else{
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi!',
                    text: 'Bạn chưa chọn chữ ký!!',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    // Thêm hoặc xóa class
                    myDiv.classList.toggle('show');
                    myDiv.classList.toggle('hide');

                    // Thay đổi giá trị của thuộc tính style
                    myDiv.style.display = myDiv.style.display === 'block' ? 'none' : 'block';

                    document.getElementById('loading-spinner').style.display = 'none';
                });
            }
            if (selectedObjects.length === 0) {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi!',
                    text: 'Danh sách hợp đồng trống. Vui lòng thêm ít nhất một hợp đồng để ký.',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    // Thêm hoặc xóa class
                    myDiv.classList.toggle('show');
                    myDiv.classList.toggle('hide');

                    // Thay đổi giá trị của thuộc tính style
                    myDiv.style.display = myDiv.style.display === 'block' ? 'none' : 'block';

                    document.getElementById('loading-spinner').style.display = 'none';
                });
                return; // Ngừng thực hiện nếu danh sách trống
            }

            $.ajax({
                url: '/Director/SignListContract',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(selectedObjects),
                success: function (result) {
                    // Chuyển hướng tới trang mong muốn
                    //thông báo
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Duyệt thành công!',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                  
                        var redirectToUrl = '@Url.Action("Contracts_PendingApproval", "Director")';
                        window.location.href = redirectToUrl;
                    });
                },
                error: function (error) {
                    // Chuyển hướng tới trang mong muốn
                    //thông báo
                   
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi!',
                        text: 'Đã xảy ra lỗi khi duyệt hợp đồng.',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
             
                        // Thêm hoặc xóa class
                        myDiv.classList.toggle('show');
                        myDiv.classList.toggle('hide');

                        // Thay đổi giá trị của thuộc tính style
                        myDiv.style.display = myDiv.style.display === 'block' ? 'none' : 'block';

                        document.getElementById('loading-spinner').style.display = 'none';
                    });
                    console.error('Error:', error);

                }
            });
        });

        $("#signDefaultBtn").on("click", function () {
            // Gửi danh sách đối tượng đã chọn lên server qua Ajax

            var myDiv = document.getElementById('staticBackdrop');

            // Thêm hoặc xóa class
            myDiv.classList.toggle('show');
            myDiv.classList.toggle('hide');

            // Thay đổi giá trị của thuộc tính style
            myDiv.style.display = myDiv.style.display === 'block' ? 'none' : 'block';

            document.getElementById('loading-spinner').style.display = 'block';

            var defaultImg = '@Html.Raw(defaultImg)';
            if(defaultImg == ''){
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi!',
                    text: 'Bạn chưa cài đặt chữ ký mặc định!!',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    // Thêm hoặc xóa class
                    myDiv.classList.toggle('show');
                    myDiv.classList.toggle('hide');

                    // Thay đổi giá trị của thuộc tính style
                    myDiv.style.display = myDiv.style.display === 'block' ? 'none' : 'block';

                    document.getElementById('loading-spinner').style.display = 'none';
                });
            }else{
                selectedObjects.forEach(function (obj) {
                    obj.ImagePath = defaultImg; // Thay thế bằng giá trị mới của ImagePath
                });
            }

            if (selectedObjects.length === 0) {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi!',
                    text: 'Danh sách hợp đồng trống. Vui lòng thêm ít nhất một hợp đồng để ký.',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {

                    // Thêm hoặc xóa class
                    myDiv.classList.toggle('show');
                    myDiv.classList.toggle('hide');

                    // Thay đổi giá trị của thuộc tính style
                    myDiv.style.display = myDiv.style.display === 'block' ? 'none' : 'block';

                    document.getElementById('loading-spinner').style.display = 'none';
                });
                return; // Ngừng thực hiện nếu danh sách trống
            }
            $.ajax({
                url: '/Director/SignListContract',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(selectedObjects),
                success: function (result) {
                    // Chuyển hướng tới trang mong muốn
                    //thông báo
            
                      Swal.fire({
                            icon: 'success',
                            title: 'Duyệt thành công!',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                  
                        var redirectToUrl = '@Url.Action("Contracts_PendingApproval", "Director")';
                        window.location.href = redirectToUrl;
                        });
                    // Xử lý kết quả từ server nếu cần
                },
                error: function (error) {
                    // Chuyển hướng tới trang mong muốn
                    //thông báo                
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi!',
                        text: 'Đã xảy ra lỗi khi duyệt hợp đồng.',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        // Thêm hoặc xóa class
                        myDiv.classList.toggle('show');
                        myDiv.classList.toggle('hide');

                        // Thay đổi giá trị của thuộc tính style
                        myDiv.style.display = myDiv.style.display === 'block' ? 'none' : 'block';

                        document.getElementById('loading-spinner').style.display = 'none';
                    });
                    console.error('Error:', error);
                }
            });
        });
    });

</script>
