@model List<QuanLyHopDongVaKySo_API.ViewModels.PContractViewModel>
@{
    string userRole = Context.Request.HttpContext.Session.GetString("Role");

}
<div class="container-fluid">
    @if (userRole == "Admin")
    {
        Layout = "_AdminLayOut";
        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"> <a>Giám đốc</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Hợp đồng chờ duyệt</li>
                </ol>
            </nav>
            <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
            <div class="row justify-content-between">
                <input type="search" class="src" placeholder="Tìm kiếm trong danh sách" />
                <div class="col-md-3 offset-md-6 d-flex justify-content-end">
                    <a class="button-save">
                        Duyệt
                        <span id="countButton" class="badge text-bg-danger">0</span>
                    </a>
                    <a class="button-delete" data-bs-toggle="modal" data-bs-target="#RefuseSign">
                        Từ chối duyệt
                        <span id="countButton" class="badge text-bg-light">0</span>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="RefuseSign" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="row justify-content-around" style=" margin: 0 auto;">
                                        <div class="form-floating mb-3">
                                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                            <label for="floatingTextarea2">Lý dô từ chối</label>
                                        </div>
                                        <div class="col-mb-5" style="margin: auto;">
                                            <button class="button-save">
                                                Xác nhận
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        Layout = "_Layout";
        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex rounded">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Hợp đồng chờ duyệt</li>
                </ol>
            </nav>
            <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
            <div class="row">
                <input type="search" style="margin-left: 10px;" placeholder="Tìm kiếm hợp đồng" />
                <div class="col-md-3 offset-md-6 d-flex justify-content-end">
                    <a class="button-save">
                        Duyệt
                        <span id="countButton" class="badge text-danger">0</span>
                    </a>
                    <a class="button-delete" data-bs-toggle="modal" data-bs-target="#RefuseSign">
                        Từ chối duyệt
                        <span id="countButton" class="badge text-success">0</span>
                    </a>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="RefuseSign" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="row justify-content-around" style=" margin: 0 auto;">
                                        <div class=" mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">Lý do từ chối</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                        <div class="col-mb-5" style="margin: auto;">
                                            <button class="button-save">
                                                Xác nhận
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    <div class="listTable">
        <table class="table">
            <thead>
                <tr style="color: #8B909A;">
                    <th> <input type="checkbox" id="checkAll" /></th>
                    <th scope="col">ID</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">NGÀY ĐĂNG KÝ DỊCH VỤ</th>
                    <th scope="col">HỌ VÀ TÊN</th>
                    <th scope="col">LOẠI HỢP ĐỒNG ĐĂNG KÝ</th>
                    <th scope="col">TRẠNG THÁI</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach(var item in Model)
                {
                    <tr>
                        <th><input type="checkbox" class="checkBox" /></th>
                        <td>@item.PContractID</td>
                        <td>@item.CustomerEmail</td>
                        <td>@item.DateCreated</td>
                        <td>@item.CustomerName</td>
                        <td>@item.TOS_ID</td>
                        <td>
                            <div style="background: rgba(255, 198, 0, 0.20); color:#FFC600;display: flex;align-items: center;justify-content: center;">
                                Chờ duyệt
                            </div>
                        </td>
                        <td>
                            <a asp-action="DetailsContractAwait" asp-controller="Director" asp-route-pContractId="@item.PContractID">Chi tiết</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        var checkedCount = 0; // Biến để lưu trữ số lượng checkbox đã được chọn

        // Xử lý sự kiện khi checkbox all được click
        $('#checkAll').click(function () {
            $('.checkBox').prop('checked', $(this).prop('checked'));
            updateCheckedCount();
        });

        // Xử lý sự kiện khi checkbox con được click
        $('.checkBox').click(function () {
            if (!$(this).prop('checked')) {
                $('#checkAll').prop('checked', false);
            }
            updateCheckedCount();
        });

        // Hàm cập nhật số lượng checkbox đã được chọn và hiển thị trên button
        function updateCheckedCount() {
            checkedCount = $('.checkBox:checked').length;
            $('#countButton').text(checkedCount);
        }
    });
</script>