@model QuanLyHopDongVaKySo_API.Models.PFXCertificate

@{
    Layout = "_AdminLayout";
}
<link rel="stylesheet" type="text/css" href="~/Test/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/Test/css/style.css">

<div class="container-fluid">
    <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div style="margin-top: 40px;">
        <section class="gallery min-vh-100">
            <div class="container-lg">
                <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                    <div class="col">
                        Ảnh chữ ký 1                       
                         @if (Model.ImageSignature1 != null)
                            {
                                <img src="~/@Model.ImageSignature1" alt="@Model.ImageSignature1" style="width:300px; height:300px;" />
                            }
                            else
                            {
                            <img src="~/Test/img/1.jpg" class="gallery-item" alt="gallery">
                            }
                    </div>
                    <div class="col">
                        Ảnh chữ ký 2
                        @if (Model.ImageSignature1 != null)
                        {
                            <img src="~/@Model.ImageSignature1" alt="@Model.ImageSignature1" style="width:300px; height:300px;" />
                        }
                        else
                        {
                            <img src="~/Test/img/2.jpg" class="gallery-item" alt="gallery">
                        }
                    </div>
                    <div class="col">
                        Ảnh chữ ký 3
                        @if (Model.ImageSignature1 != null)
                        {
                            <img src="~/@Model.ImageSignature1" alt="@Model.ImageSignature1" style="width:300px; height:300px;" />
                        }
                        else
                        {
                            <img src="~/Test/img/3.jpg" class="gallery-item" alt="gallery">
                        }
                    </div>
                    <div class="col">
                        Ảnh chữ ký 4
                        @if (Model.ImageSignature1 != null)
                        {
                            <img src="~/@Model.ImageSignature1" alt="@Model.ImageSignature1" style="width:300px; height:300px;" />
                        }
                        else
                        {
                            <img src="~/Test/img/4.jpg" class="gallery-item" alt="gallery">
                        }
                    </div>
                    <div class="col">
                        Ảnh chữ ký 5
                        @if (Model.ImageSignature1 != null)
                        {
                            <img src="~/@Model.ImageSignature1" alt="@Model.ImageSignature1" style="width:300px; height:300px;" />
                        }
                        else
                        {
                            <img src="~/Test/img/5.jpg" class="gallery-item" alt="gallery">
                        }
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                           @if (Model.ImageSignature1 != null)
                        {
                            <img src="~/@Model.ImageSignature1" alt="@Model.ImageSignature1" style="width:300px; height:300px;" />
                        }
                        else
                        {
                            <img src="~/Test/img/1.jpg" class="modal-img" alt="modal img">
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/Test/js/bootstrap.bundle.min.js"></script>
<script src="~/Test/js/main.js"></script>