@model QuanLyHopDongVaKySo_API.Models.PFXCertificate

@{
    Layout = "_AdminLayout";
}
<link rel="stylesheet" type="text/css" href="~/Test/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/Test/css/style.css">

<div class="container-fluid">
    <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div style="margin-top: 40px;">
        <section class="gallery min-vh-100">
            <div class="container-lg">
                <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                    <div class="col">
                        Ảnh chữ ký 1                       
                         @if (Model.ImageSignature1 != null)
                            {
                            <img src="~/@Model.ImageSignature1" alt="@Model.ImageSignature1" class="gallery-item" />
                            }
                            else
                            {
                            <img src="~/Resource/Image/empty.png"
                                 class="gallery-item" alt="gallery" />
                            }
                    </div>
                    <div class="col">
                        Ảnh chữ ký 2
                        @if (Model.ImageSignature2!= null)
                        {
                            <img src="~/@Model.ImageSignature2" alt="@Model.ImageSignature2" class="gallery-item" />
                        }
                        else
                        {
                            <img src="~/Resource/Image/empty.png"
                                 class="gallery-item" alt="gallery" />
                        }
                    </div>
                    <div class="col">
                        Ảnh chữ ký 3
                        @if (Model.ImageSignature3 != null)
                        {
                            <img src="~/@Model.ImageSignature3" alt="@Model.ImageSignature3" class="gallery-item" />
                        }
                        else
                        {
                            <img src="~/Resource/Image/empty.png"
                                 class="gallery-item" alt="gallery" />
                        }
                    </div>
                    <div class="col">
                        Ảnh chữ ký 4
                        @if (Model.ImageSignature4!= null)
                        {
                            <img src="~/@Model.ImageSignature4" alt="@Model.ImageSignature4" class="gallery-item" />
                        }
                        else
                        {
                            <img src="~/Resource/Image/empty.png"
                                 class="gallery-item" alt="gallery" />
                        }
                    </div>
                    <div class="col">
                        Ảnh chữ ký 5
                        @if (Model.ImageSignature5!= null)
                        {
                            <img src="~/@Model.ImageSignature5" alt="@Model.ImageSignature5" class="gallery-item" />
                        }
                        else
                        {
                            <img src="~/Resource/Image/empty.png"
                                 class="gallery-item" alt="gallery"/>
                        }
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="d-flex align-items-center">
                        <a class="m-4 add_cus" style="margin: 20px; width:300px;" asp-action="UpdateNotAfterPFX" asp-controller="Admin" asp-route-serial="@Model.Serial">Gia hạn</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="~/Test/js/bootstrap.bundle.min.js"></script>
<script src="~/Test/js/main.js"></script>