@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMHistoryAdmin

@{
    Layout = "_AdminLayout";
}
<div class="container-fluid">
    <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lịch sử thao tác</li>
            </ol>
        </nav>
        <h1 class="typeHead">TẤT CẢ LỊCH SỬ</h1>
        <div class="row mx-auto">
            <input type="search" id="searchInput" class="src" placeholder="Tìm kiếm trong danh sách" />
        </div>
    </div>
    <div class="row bg-whit mt-3 rounded">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="tab-button active " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Lịch sử thao tác nhân viên</button>
                <button class="tab-button " id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Lịch sử thao tác khách hàng</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent" style="display:flex;">
            <div class="tab-pane fade show active mt-2 " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <div class="listTable">
                    <table class="table display" id="myTable" >
                        <thead>
                            <tr style="color: #8B909A;">
                                <th scope="col">ID</th>
                                <th scope="col">NGÀY</th>
                                <th scope="col">THAO TÁC</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                             @foreach (var item in Model.HistoryEmps)
                            {
                                <tr>
                                    <th scope="row">@item.HistoryID</th>
                                    <td>@item.Date</td>
                                    <td>@item.OperationName</td>
                                </tr>
                            } 
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade show mt-2" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <div class="listTable">
                    <table class="table display" id="myTable1">
                        <thead>
                            <tr style="color: #8B909A;">
                                <th scope="col">ID</th>
                                <th scope="col">NGÀY</th>
                                <th scope="col">THAO TÁC</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider align-middle">
                            @foreach (var item in Model.HistoryCus)
                            {
                            <tr>
                                <th scope="row">@item.HistoryID</th>
                                <td>@item.Date</td>
                                <td>@item.OperationName</td>
                            </tr>
                            } 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        // Khởi tạo DataTable
        $('#myTable').DataTable({
            "searching": false,
            "info": false,
            "lengthMenu": [10, 25, 50, 100], 
            "pageLength": 25,
            "order": [[0, 'desc']],
            "language": {
                "decimal": "",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Sau",
                    "previous": "Trước"
                },
                "lengthMenu": "Hiển thị _MENU_ dữ liệu",
                "emptyTable": "Không có dữ liệu"
            }
        });

        $('#myTable1').DataTable({
            "searching": false,
            "info": false,
            "lengthMenu": [10, 25, 50, 100],
            "pageLength": 25,
            "language": {
                "decimal": "",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Sau",
                    "previous": "Trước"
                },
                "lengthMenu": "Hiển thị _MENU_ dữ liệu",
                "emptyTable": "Không có dữ liệu"
            }
        });
    });


    // tìm kiếm
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy đối tượng ô tìm kiếm chung
        var searchInput = document.getElementById('searchInput');

        // Thêm sự kiện 'input' cho ô tìm kiếm chung
        searchInput.addEventListener('input', function () {
            filterAllTables(searchInput);
        });

        // Lấy đối tượng bảng và ô tìm kiếm cho Tab 1
        var table = document.getElementById('myTable');

        // Lấy đối tượng bảng và ô tìm kiếm cho Tab 2
        var table2 = document.getElementById('myTable1');
    });

    function filterAllTables(input) {
        var filter = input.value.toLowerCase();

        // Lấy tất cả các bảng trong tất cả các tab
        var tables = document.getElementsByClassName('table');

        for (var t = 0; t < tables.length; t++) {
            var rows = tables[t].getElementsByTagName('tbody')[0].getElementsByTagName('tr');

            for (var i = 0; i < rows.length; i++) {
                var rowData = rows[i].innerText.toLowerCase();
                if (rowData.includes(filter)) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }
</script>