@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMListTOS
@{
    Layout = "_AdminLayout";
}
<div class="container-fluid">
    <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="listTable" style="background-color:white; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); min-height:700px">
        <table class="table">
            <thead>
                <tr style="color: #8B909A;">
                    <th scope="col">HÀNH ĐỘNG</th>
                    <th scope="col">ID</th>
                    <th scope="col">NGÀY TẠO</th>
                    <th scope="col">NGÀY CẬP NHẬT</th>
                    <th scope="col">TÊN DỊCH VỤ</th>
                    <th scope="col">GIÁ</th>
                    <th scope="col">ĐƠN VỊ THỜI GIAN</th>
                    <th scope="col">TRẠNG THÁI</th>
                    <th scope="col">HÀNH ĐỘNG</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var item in Model.TypeOfServices)
                {
                    <tr>
                        <td>
                            <div class="row action">
                                <a asp-route-tosID="@item.TOS_ID" asp-action="EditTypeOfService" asp-controller="Admin"><i class="ph-bold ph-note-pencil"></i></a>
                            </div>
                        </td>
                        <td scope="row">@item.TOS_ID</td>
                        <td>
                            @item.DateAdded?.ToString("HH:mm:ss dd/MM/yyyy")
                        </td>
                        <td>
                            @item.DateUpdated?.ToString("HH:mm:ss dd/MM/yyyy")
                        </td>
                        <td>@item.ServiceName</td>
                        <td>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.Price)</td>
                        <td>@item.PerTime</td>
                        <td>
                                @if (item.isHidden)
                                {
                                <div class="d-flex align-items-center">
                                    <div style="width: 5px; height: 5px; background-color: red; border-radius: 50%; margin-right: 10px;"></div>
                                    <span>Đã khoá</span>
                                </div>
                                }
                                else
                                {
                                <div class="d-flex align-items-center">
                                    <div style="width: 5px; height: 5px; background-color: #00C9A7; border-radius: 50%; margin-right: 10px;"></div>
                                    <span>Có thể sử dụng</span>
                                </div>
                                }
                        </td>
                        <td>
                            <a asp-route-tosID="@item.TOS_ID">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <button class="add_cus" style="margin: 20px; width:300px;" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Thêm dịch vụ
    </button>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Thêm dịch vụ mới</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row justify-content-around" style=" margin: 0 auto;" asp-action="AddTOSAction" asp-controller="Admin">
                        <div class="col-md-12">
                            <input class="form-control d-none">
                            <div class="col-md-12">
                                <label for="inputName" class="form-label" >Tên dịch vụ</label>
                                <input class="form-control" required asp-for="PostTOS.ServiceName">
                                <span class="text-danger" asp-validation-for="PostTOS.ServiceName"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="inputName" class="form-label">Giá dịch vụ</label>
                                    <input class="form-control" type="number" step="0.5" required asp-for="PostTOS.Price">
                                    <span class="text-danger" asp-validation-for="PostTOS.Price"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputName" class="form-label">Đơn vị thời gian</label>
                                    <input class="form-control" required asp-for="PostTOS.PerTime">
                                    <span class="text-danger" asp-validation-for="PostTOS.PerTime"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="inputRole" class="form-label">Mẫu hợp đồng</label>
                                <select style="background-color: #F3F3F3;" required class="form-control" asp-for="PostTOS.TContractID">
                                    <option value="" disabled selected>...chọn mẫu hợp đồng</option>
                                    @foreach (var c in Model.TemplateContracts)
                                    {
                                        <option value="@c.TContactID">@c.TContractName</option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="PostTOS.TContractID"></span>
                            </div>
                            <div class="col-md-12">
                                <label for="inputRole" class="form-label">Mẫu biên bản lắp đặt</label>
                                <select style="background-color: #F3F3F3;" required class="form-control" asp-for="PostTOS.TMinuteID">
                                    <option value="" disabled selected>...chọn mẫu biên bản lắp đặt</option>
                                    @foreach (var m in Model.TemplateMinutes)
                                    {
                                        <option value="@m.TMinuteID">@m.TMinuteName</option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="PostTOS.TMinuteID"></span>
                            </div>
                        </div>
                        <div class="col-md-5" style="margin:auto;">
                            <button class="btn-addRole" type="submit" style="width: 100%;">
                                THÊM
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>