@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMListRole
@{
    Layout = "_AdminLayout";
}
<link rel="shortcut icon" href="~/assets/images/favicon.ico">

<!-- Bootstrap Css -->
<link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

<link href="~/assets2/css/app.min.css" rel="stylesheet">


    <div class="page-content">
        <div class="page-header no-gutters has-tab">
            <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#people-overview">
                        Danh sách người
                        dùng
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#people-roles">Danh sách vai trò</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="tab-content m-t-15">
                <div class="tab-pane fade show active" id="people-overview">
                    <div class="card" style="border-radius: 46px;">
                        <div class="card-body">
                            <div class="row m-b-30">
                                <div class="col-lg-8">
                                    <div class="d-md-flex">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover e-commerce-table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>HÀNHĐỘNG</th>
                                            <th>ID</th>
                                            <th>VAI TRÒ</th>
                                            <th>HỌ VÀ TÊN</th>
                                            <th>EMAIL</th>
                                            <th>SỐ ĐIỆN THOẠI</th>
                                            <th>TRẠNG THÁI</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var emp in Model.Employees)
                                        {
                                            <tr>

                                                <td>
                                                    <div class="checkbox">
                                                        <input id="check-item-1" type="checkbox">
                                                        <label for="check-item-1" class="m-b-0"></label>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                                        <i class="anticon anticon-edit"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    @emp.EmployeeId.ToString().Substring(0,8)
                                                </td>
                                                @foreach (var role in Model.Roles)
                                                {
                                                    if (emp.PositionID == role.RoleID)
                                                    {
                                                        <td>@role.RoleName</td>
                                                    }
                                                }
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <h6 class="m-b-0">@emp.FullName</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <h6 class="m-b-0">@emp.Email</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <h6 class="m-b-0">@emp.PhoneNumber</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    @if (emp.IsLocked)
                                                    {
                                                        <div class="d-flex align-items-center">
                                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                                            <div>Đã bị khoá</div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="d-flex align-items-center">
                                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                                            <div>Đang hiển thị</div>
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="people-roles">
                    <div class="card" style="border-radius: 46px;">
                        <div class="card-body">
                            <div class="row m-b-30">
                                <div class="col-lg-8">
                                    <div class="d-md-flex">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover e-commerce-table">
                                    <thead>
                                        <tr>
                                            <th>HÀNH ĐỘNG</th>
                                            <th>ID</th>
                                            <th>TÊN VAI TRÒ</th>
                                            <th>TRẠNG THÁI</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var role in Model.Roles)
                                        {
                                            <tr>
                                                <td class="text-left">
                                                    <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                                        <i class="anticon anticon-edit"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    @role.RoleID
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">

                                                        <h6 class="m-b-0">@role.RoleName</h6>
                                                    </div>
                                                </td>
                                                <td>
                                                    @if (role.isHidden)
                                                    {
                                                        <div class="d-flex align-items-center">
                                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                                            <div>Đã ẩn</div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="d-flex align-items-center">
                                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                                            <div>Đang hiển thị</div>
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-left">
            <a href="ganthemvaitro.html">
                <button class="btn btn-primary">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm vai trò mới</span>
                </button>
            </a>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->


<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>

<script src="~/assets/js/app.js"></script>
<script src="~/assets2/js/vendors.min.js"></script>

<!-- page js -->
<!-- Core JS -->
<script src="~/assets2/js/app.min.js"></script>
