@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMAdminListUsersAccount

@{
    Layout = "_AdminLayout";
}
    
@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

<div class="container-fluid">
    <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-container">
        <div class="tab-button active" onclick="showTab('tab1')">Danh sách nhân viên </div>
        <div class="tab-button" onclick="showTab('tab2')">Danh sách khách hàng</div>
    </div>
    <div class="tab-content active" id="tab1">
        <div class="listTable">
            <table class="table">
                <thead>
                    <tr style="color: #8B909A;">
                        <th scope="col">HÀNH ĐỘNG</th>
                        <th scope="col">ID</th>
                        <th scope="col">HỌ VÀ TÊN</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">SỐ ĐIỆN THOẠI</th>
                        <th scope="col">CCCD/CMND</th>
                        <th scope="col">CHỨC VỤ</th>
                        <th scope="col">VAI TRÒ</th>
                        <th scope="col">TRẠNG THÁI</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    
                    @foreach (var emp in Model.Employees)
                    {
                        <tr>
                            <td>
                                <div class="row action">
                                    <a asp-action="EditEmpAccount" asp-controller="Admin" asp-route-empId="@emp.EmployeeId"><i class="ph-bold ph-note-pencil"></i></a>
                                </div>
                            </td>
                            <th scope="row">@emp.EmployeeId.ToString().Substring(0,8)</th>
                            <td>@emp.FullName</td>
                            <td>@emp.Email</td>
                            <td>@emp.PhoneNumber</td>
                            <td>@emp.Identification</td>
                            @foreach (var p in Model.Positions)
                            {
                                if (emp.PositionID == p.PositionID)
                                {
                                    <td>@p.PositionName</td>
                                }
                            }
                            @foreach (var r in Model.Roles)
                            {
                                if (emp.RoleID == r.RoleID)
                                {
                                    <td>@r.RoleName</td>
                                }
                            }
                            <td>
                                @if (emp.IsLocked)
                                {
                                    <div class="d-flex align-items-center">
                                        <div style="width: 5px; height: 5px; background-color: red; border-radius: 50%; margin-right: 10px;"></div>
                                        <span>Đã khoá</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center">
                                        <div style="width: 5px; height: 5px; background-color: #00C9A7; border-radius: 50%; margin-right: 10px;"></div>
                                        <span>Đang hoạt động</span>
                                    </div>
                                }
                            </td>
                            <td>
                                <a asp-route-empId="@emp.EmployeeId">Chi tiết</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <button class="add_cus" style="margin: 20px; width:300px;">
            <a class="m-4" asp-action="AddEmpAccount" asp-controller="Admin">Thêm nhân viên <i class="ph-bold ph-user-plus" style="font-size:20px; padding-left:10px;"></i> </a>
        </button>
    </div>
    <div class="tab-content" id="tab2">
        <div class="listTable">
            <table class="table">
                <thead>
                    <tr style="color: #8B909A;">
                        <th scope="col">HÀNH ĐỘNG</th>
                        <th scope="col">ID</th>
                        <th scope="col">HỌ VÀ TÊN</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">SỐ ĐIỆN THOẠI</th>
                        <th scope="col">CCCD/CMND</th>
                        <th scope="col">TRẠNG THÁI</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        @foreach (var cus in Model.Customers)
                        {
                            <td>
                                <div class="row action">
                                    <a asp-route-customerID="@cus.CustomerId" asp-action="EditCus" asp-controller="BusinessStaff"><i class="ph-bold ph-note-pencil"></i></a>
                                </div>
                            </td>
                            <th scope="row">@cus.CustomerId.ToString().Substring(0,8)</th>
                            <td>@cus.FullName</td>
                            <td>@cus.Email</td>
                            <td>@cus.PhoneNumber</td>
                            <td>@cus.Identification</td>
                            <td>
                                @if (cus.IsLocked)
                                {
                                    <div class="d-flex align-items-center">
                                        <div style="width: 5px; height: 5px; background-color: red; border-radius: 50%; margin-right: 10px;"></div>
                                        <span>Đã khoá</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center">
                                        <div style="width: 5px; height: 5px; background-color: #00C9A7; border-radius: 50%; margin-right: 10px;"></div>
                                        <span>Đang hoạt động</span>
                                    </div>
                                }
                            </td>
                            <td>
                                <a asp-route-cusId="@cus.CustomerId">Chi tiết</a>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="add_cus" style="margin: 20px; width:300px;">
             <a class="m-4" asp-action="AddCus" asp-controller="BusinessStaff">Thêm khách hàng <i class="ph-bold ph-user-plus" style="font-size:20px; padding-left:10px;"></i> </a>
        </button>
    </div>
    
</div>
<script>
    function showTab(tabId) {
        // Ẩn tất cả các nội dung tab
        var tabContents = document.querySelectorAll('.tab-content');
        tabContents.forEach(function (content) {
            content.classList.remove('active');
        });

        // Ẩn tất cả các tab-button
        var tabButtons = document.querySelectorAll('.tab-button');
        tabButtons.forEach(function (button) {
            button.classList.remove('active');
        });

        // Hiển thị nội dung của tab được chọn và làm cho tab-button trở nên active
        var selectedTab = document.getElementById(tabId);
        selectedTab.classList.add('active');

        var selectedButton = document.querySelector('[onclick="showTab(\'' + tabId + '\')"]');
        selectedButton.classList.add('active');
    }
</script>
