@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMAdminListUsersAccount

@{
    Layout = "_AdminLayout";
}
    
@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

<div class="container-fluid">
    <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Danh sách khách hàng</li>
            </ol>
        </nav>
        <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
        <div class="row justify-content-around">
            <input type="search" class="src" placeholder="Tìm kiếm trong danh sách" />
            <button class="btn-addRole col-md-2 offset-md-7" type="button">
                <a asp-action="AddCus" asp-controller="BusinessStaff">
                    THÊM KHÁCH HÀNG
                    <i class="ph-bold ph-plus"></i>
                </a>
            </button>
        </div>
    </div>
    <div class="tab-container">
        <div class="tab-button active" onclick="showTab('tab2')">Danh sách khách hàng</div>
    </div>
    <div class="tab-content active" id="tab2">
        <div class="listTable">
            <table class="table">
                <thead>
                    <tr style="color: #8B909A;">
                        <th scope="col">HÀNH ĐỘNG</th>
                        <th scope="col">ID</th>
                        <th scope="col">HỌ VÀ TÊN</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">SỐ ĐIỆN THOẠI</th>
                        <th scope="col">CCCD/CMND</th>
                        <th scope="col">TRẠNG THÁI</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">                   
                    @foreach (var cus in Model.Customers)
                    {
                        <tr>
                            <td>
                                <div class="row action">
                                    <a asp-route-customerID="@cus.CustomerId" asp-action="EditCus" asp-controller="BusinessStaff"><i class="ph-bold ph-note-pencil"></i></a>
                                </div>
                            </td>
                            <th scope="row">@cus.CustomerId.ToString().Substring(0,8)</th>
                            <td>@cus.FullName</td>
                            <td>@cus.Email</td>
                            <td>@cus.PhoneNumber</td>
                            <td>@cus.Identification</td>
                            <td>
                                @if (cus.IsLocked)
                                {
                                    <div class="d-flex align-items-center">
                                        <div style="width: 5px; height: 5px; background-color: red; border-radius: 50%; margin-right: 10px;"></div>
                                        <span>Đã khoá</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center">
                                        <div style="width: 5px; height: 5px; background-color: #00C9A7; border-radius: 50%; margin-right: 10px;"></div>
                                        <span>Đang hoạt động</span>
                                    </div>
                                }
                            </td>
                            <td>
                                <a asp-action="DetailsCus" asp-controller="BusinessStaff" asp-route-customerID="@cus.CustomerId" style="background-color: #00C9A7; color:white; border: 2px solid; padding: 1px 2px;">Chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>
<script>
    function showTab(tabId) {
        // Ẩn tất cả các nội dung tab
        var tabContents = document.querySelectorAll('.tab-content');
        tabContents.forEach(function (content) {
            content.classList.remove('active');
        });

        // Ẩn tất cả các tab-button
        var tabButtons = document.querySelectorAll('.tab-button');
        tabButtons.forEach(function (button) {
            button.classList.remove('active');
        });

        // Hiển thị nội dung của tab được chọn và làm cho tab-button trở nên active
        var selectedTab = document.getElementById(tabId);
        selectedTab.classList.add('active');

        var selectedButton = document.querySelector('[onclick="showTab(\'' + tabId + '\')"]');
        selectedButton.classList.add('active');
    }

</script>

