@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMListPosition

@{
    Layout = "_AdminLayout";
}
<style>
    .loading {
        z-index: 1;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .loading img {
            width: 7rem;
        }
</style>

<div class="container-fluid">
    <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                <li class="breadcrumb-item"><a>Quản lý chức danh</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Danh sách chức danh</li>
            </ol>
        </nav>
        <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
        <div class="row justify-content-around">
            <input type="search" id="searchInput" class="src" placeholder="Tìm kiếm trong danh sách" />
            <button class="button-save col-md-2 offset-md-7" type="button" data-bs-toggle="modal" data-bs-target="#AddPosition">
                THÊM CHỨC DANH
                <i class="ph-bold ph-plus"></i>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="AddPosition" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Thêm chức danh mới</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row justify-content-around" style=" margin: 0 auto;" asp-action="AddPosition" asp-controller="Admin">
                                <div class="col-md-12">
                                    <input class="form-control d-none" asp-for="Position.PositionID">
                                    <div class="col-md-12">
                                        <label for="inputName" class="form-label" asp-for="Position.PositionName">Chức danh</label>
                                        <input class="form-control" asp-for="Position.PositionName" required>
                                        <span class="text-danger" asp-validation-for="Position.PositionName"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3 d-none">
                                    <label class="mb-3 mr-1" for="Status" asp-for="Position.isHidden">Trạng thái: </label>
                                    <div>
                                        <input type="radio" class="btn-check " id="false" asp-for="Position.isHidden" value="false" autocomplete="off" required checked>
                                        <label class="btn btn-sm btn-outline-success text-light" id="false-label" for="false">Hiển thị</label>

                                        <input type="radio" class="btn-check " id="true" asp-for="Position.isHidden" value="true" autocomplete="off" required>
                                        <label class="btn btn-sm btn-outline-danger text-light" id="true-label" for="true">Ẩn</label>
                                    </div>
                                </div>


                                <div class="col-md-5" style="margin:auto;">
                                    <div class="loading" id="loading">
                                        <img src="https://icon-library.com/images/spinner-icon-gif/spinner-icon-gif-10.jpg" alt="loading">
                                    </div>
                                    <button class="btn-addRole" type="submit" style="width: 100%;" onclick="updatePosition()">
                                        THÊM
                                       
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-container">
        <div class="tab-button active" onclick="showTab('tab1')">Danh sách người dùng</div>
        <div class="tab-button" onclick="showTab('tab2')">Danh sách chức danh</div>
    </div>
    <div class="tab-content active" id="tab1">
        <div class="listTable">
            <table class="table display" id="myTable1">
                <thead>
                    <tr style="color: #8B909A;">
                        <th>HÀNHĐỘNG</th>
                        <th>ID</th>
                        <th>CHỨC DANH</th>
                        <th>HỌ VÀ TÊN</th>
                        <th>EMAIL</th>
                        <th>SỐ ĐIỆN THOẠI</th>
                        <th>TRẠNG THÁI</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider align-middle">
                    @foreach (var emp in Model.Employees)
                    {
                        <tr>
                            <td>
                                <div class="row action">
                                    <a asp-action="EditEmpAccount" asp-controller="Admin" asp-route-empId="@emp.EmployeeId"><i class="ph-bold ph-note-pencil"></i></a>
                                </div>
                            </td>
                            <th>
                                @emp.EmployeeId.ToString().Substring(0,8)
                            </th>
                            @foreach (var role in Model.Positions)
                            {
                                if (emp.PositionID == role.PositionID)
                                {
                                    <td>@role.PositionName</td>
                                }
                            }
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="m-b-0">@emp.FullName</span>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="m-b-0">@emp.Email</span>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="m-b-0">@emp.PhoneNumber</span>
                                </div>
                            </td>
                            <td>
                                @if (emp.IsLocked)
                                {
                                    <div class="d-flex align-items-center">
                                        <div style="width: 5px; height: 5px; background-color: red; border-radius: 50%; margin-right: 10px;"></div>
                                        <span>Đã khoá</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center">
                                        <div style="width: 5px; height: 5px; background-color: #00C9A7; border-radius: 50%; margin-right: 10px;"></div>
                                        <span>Đang hoạt động</span>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-content" id="tab2">
        <div class="listTable" style="width:50%; height:300px;">
            <table class="table display" id="myTable2">
                <thead>
                    <tr style="color: #8B909A;">
                        <th scope="col">HÀNH ĐỘNG</th>
                        <th scope="col">ID</th>
                        <th scope="col">CHỨC DANH</th>
                        <th scope="col">TRẠNG THÁI</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var position in Model.Positions)
                    {
                        <tr>
                            <td class="text-left">
                                <div class="row action">
                                    <a asp-route-positionId="@position.PositionID" asp-action="EditPosition" asp-controller="Admin"><i class="ph-bold ph-note-pencil"></i></a>
                                </div>
                            </td>
                            <th>
                                @position.PositionID
                            </th>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="m-b-0">@position.PositionName</span>
                                </div>
                            </td>
                            <td>
                                @if (position.isHidden)
                                {
                                    <div class="d-flex align-items-center">
                                        <div style="width: 5px; height: 5px; background-color: red; border-radius: 50%; margin-right: 10px;"></div>
                                        <div>Đã ẩn</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center">
                                        <div style="width: 5px; height: 5px; background-color: #00C9A7; border-radius: 50%; margin-right: 10px;"></div>
                                        <div>Đang hiển thị</div>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        // Khởi tạo DataTable
        $('#myTable1').DataTable({
            "searching": false,
            "info": false,
            "lengthMenu": [10, 25, 50, 100],
            "pageLength": 25,
            "language": {
                "decimal": "",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Sau",
                    "previous": "Trước"
                },
                "lengthMenu": "Hiển thị _MENU_ dữ liệu",
                "emptyTable": "Không có dữ liệu"
            }
        });


        $('#myTable2').DataTable({
            "searching": false,
            "info": false,
            "lengthMenu": [10, 25, 50, 100],
            "pageLength": 25,
            "language": {
                "decimal": "",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Sau",
                    "previous": "Trước"
                },
                "lengthMenu": "Hiển thị _MENU_ dữ liệu",
                "emptyTable": "Không có dữ liệu"
            }
        });
    });
    const iconLoading = document.getElementById("loading");

    const showLoading = () => {
        iconLoading.style.display = "flex";
    };

    const hideLoading = () => {
        iconLoading.style.display = "none";
    };

    const updatePosition = () => {
        showLoading(); // Show loading spinner when the button is clicked

        // You can perform additional logic here before or after the form submission
        // For example, submit the form programmatically
        document.querySelector('form').submit();

        // If you want to prevent the form from submitting immediately, you can remove the form submission line

        // Hide loading spinner after the form submission is complete
        setTimeout(() => {
            hideLoading(); // Hide loading icon after some time (replace this with your actual logic)
        }, 1000);
    };

    // tìm kiếm
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy đối tượng ô tìm kiếm chung
        var searchInput = document.getElementById('searchInput');

        // Thêm sự kiện 'input' cho ô tìm kiếm chung
        searchInput.addEventListener('input', function () {
            filterAllTables(searchInput);
        });

        // Lấy đối tượng bảng và ô tìm kiếm cho Tab 1
        var table1 = document.getElementById('myTable1');

        // Lấy đối tượng bảng và ô tìm kiếm cho Tab 2
        var table2 = document.getElementById('myTable2');

        // Mặc định hiển thị Tab 1
        changeTab(0);
    });

    function filterAllTables(input) {
        var filter = input.value.toLowerCase();

        // Lấy tất cả các bảng trong tất cả các tab
        var tables = document.getElementsByClassName('table');

        for (var t = 0; t < tables.length; t++) {
            var rows = tables[t].getElementsByTagName('tbody')[0].getElementsByTagName('tr');

            for (var i = 0; i < rows.length; i++) {
                var rowData = rows[i].innerText.toLowerCase();
                if (rowData.includes(filter)) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }



    function showTab(tabId) {
        // Ẩn tất cả các nội dung tab
        var tabContents = document.querySelectorAll('.tab-content');
        tabContents.forEach(function (content) {
            content.classList.remove('active');
        });

        // Ẩn tất cả các tab-button
        var tabButtons = document.querySelectorAll('.tab-button');
        tabButtons.forEach(function (button) {
            button.classList.remove('active');
        });

        // Hiển thị nội dung của tab được chọn và làm cho tab-button trở nên active
        var selectedTab = document.getElementById(tabId);
        selectedTab.classList.add('active');

        var selectedButton = document.querySelector('[onclick="showTab(\'' + tabId + '\')"]');
        selectedButton.classList.add('active');


    }

</script>