@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMListIRequire

@{
}
<div class="container-fluid">
    <div class="header">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="listTable_Record">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">MÃ BIÊN BẢN</th>
                    <th scope="col">NGÀY NHẬN</th>
                    <th scope="col">TÊM BIÊN BẢN</th>
                    <th scope="col">ĐỊA CHỈ LẮP ĐẶT</th>
                    <th scope="col">BIÊN BẢN</th>
                    <th scope="col">HỢP ĐỒNG</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var p in Model.PMinutes)
                {
                    <tr>
                        <th scope="row">@p.PendingMinuteId</th>
                        <td>@p.DateCreated.ToString("dd/MM/yyyy")</td>
                        <td>@p.MinuteName</td>
                        @foreach (var add in Model.DContracts)
                        {
                            if (p.DoneContractId == add.DContractID)
                            {
                                <td>@add.InstallationAddress</td>
                            }
                        }
                        <td>@p.MinuteFile</td>
                        <td>
                            <a>Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>