@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMListIRequire
@{
}
<div class="container-fluid">
    <div class="header">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="listTable_Record" style="margin-top:100px;" >
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NGÀY TẠO</th>
                    <th scope="col">TÊN BIÊN BẢN</th>
                    <th scope="col">ĐỊA CHỈ LẮP ĐẶT</th>
                    <th scope="col">HỢP ĐỒNG</th>
                    <th scope="col">HÀNH ĐỘNG</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var r in Model.IRequirements)
                {
                    <tr>
                        <th scope="row">@r.InstallRequireID</th>
                        <td>@r.DateCreated.ToString("dd/MM/yyyy")</td>
                        <td>@r.MinuteName</td>
                        @foreach (var add in Model.DContracts)
                        {
                            if (r.DoneContractId == add.DContractID)
                            {
                                <td>@add.InstallationAddress</td>
                            }
                        }
                        
                        <td>
                            <a>Chi tiết</a>
                        </td>
                        <td>
                            <a class="accpet" asp-action="GetTaskFormIR" asp-route-iRequirementID="@r.InstallRequireID">Nhận</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>