@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMListIRequire

@{
}
<div class="container-fluid">
    <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                <li class="breadcrumb-item"><a>Quản lý yêu cầu lắp</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Biên bản đã nhận lắp</li>
            </ol>
        </nav>
        <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
        <div class="row">
            <input type="search" style="margin-left: 10px;" placeholder="Tìm kiếm biên bản nhận lắp" />
        </div>
    </div>

    <div class="listTable_Record mt-4 bg-white">
        <table class="table">
            <thead >
                <tr style="color: #8B909A;">
                    <th scope="col">MÃ BIÊN BẢN</th>
                    <th scope="col">NGÀY NHẬN</th>
                    <th scope="col">TÊM BIÊN BẢN</th>
                    <th scope="col">ĐỊA CHỈ LẮP ĐẶT</th>
                    <th scope="col">BIÊN BẢN</th>
                    <th scope="col">HỢP ĐỒNG</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var p in Model.PMinutes)
                {
                    <tr>
                        <th scope="row">@p.PendingMinuteId</th>
                        <td>@p.DateCreated.ToString("dd/MM/yyyy")</td>
                        <td>@p.MinuteName</td>
                        @foreach (var add in Model.DContracts)
                        {
                            if (p.DoneContractId == add.DContractID)
                            {
                                <td>@add.InstallationAddress</td>
                            }
                        }
                        <td>@p.MinuteFile</td>
                        <td>
                            <a>Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>