@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMListIRequire
@{
    string userRole = Context.Request.HttpContext.Session.GetString("Role");
}
<style>
    .loading {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.479);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .loading img {
            width: 7rem;
        }
</style>
<div class="loading" id="loading">
    <img src="https://icon-library.com/images/spinner-icon-gif/spinner-icon-gif-10.jpg" alt="loading">
</div>
<div class="container-fluid">
    @if(userRole == "Admin")
    {
        Layout = "_AdminLayout";
        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"><a>Nhân viên lắp đặt</a></li>
                    <li class="breadcrumb-item"><a>Quản lý yêu cầu lắp</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Danh sách yêu cầu lắp</li>
                </ol>
            </nav>
            <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
            <div class="row">
                <input type="search" id="searchInput" style="margin-left: 10px;" placeholder="Tìm kiếm biên bản nhận lắp" />
            </div>
        </div>
    }
    else
    {
        Layout = "_Layout";
        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"><a>Quản lý yêu cầu lắp</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Danh sách yêu cầu lắp</li>
                </ol>
            </nav>
            <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
            <div class="row">
                <input type="search" id="searchInput" style="margin-left: 10px;" placeholder="Tìm kiếm biên bản nhận lắp" />
            </div>
        </div>

    }

    <div class="listTable_Record mt-4 bg-white" >
        <table class="table" id="myTable">
            <thead>
                <tr style="color: #8B909A;">
                    <th scope="col">ID</th>
                    <th scope="col">NGÀY TẠO</th>
                    <th scope="col">TÊN BIÊN BẢN</th>
                    <th scope="col">ĐỊA CHỈ LẮP ĐẶT</th>
                    <th scope="col">HỢP ĐỒNG</th>
                    <th scope="col">HÀNH ĐỘNG</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var r in Model.IRequirements)
                {
                    <tr>
                        <th scope="row">@r.InstallRequireID</th>
                        <td>@r.DateCreated.ToString("dd/MM/yyyy")</td>
                        <td>@r.MinuteName</td>
                        @foreach (var add in Model.DContracts)
                        {
                            if (r.DoneContractId == add.DContractID)
                            {
                                <td>@add.InstallationAddress</td>
                            }
                        }
                        
                        <td>
                            <a>Chi tiết</a><a asp-action="DetailsRequire" asp-controller="InstallStaff" asp-route-id="@r.InstallRequireID">Chi tiết</a>
                        </td>
                        <td>
                            <a class="accpet" asp-action="GetTaskFormIR" asp-route-iRequirementID="@r.InstallRequireID" onclick="updatePosition()">
                                Nhận  @if (TempData["SweetType"] != null && TempData["SweetIcon"] != null && TempData["SweetTitle"] != null)
                                {
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function () {
                                            var sweetData = {
                                                title: '@TempData["SweetTitle"]',
                                                text: '@TempData["SweetText"]',
                                                icon: '@TempData["SweetIcon"]'
                                            };

                                            console.log("Sweet Data:", sweetData);

                                            Swal.fire({
                                                title: sweetData.title,
                                                text: sweetData.text,
                                                icon: sweetData.icon,
                                                showCancelButton: false,
                                                allowOutsideClick: false,
                                                confirmButtonColor: "green",
                                                confirmButtonText: "Ok"
                                            }).then(function () {
                                                // Handle any additional logic after the SweetAlert is closed.
                                            });
                                        });
                                    </script>
                                }
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    // tìm kiếm
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy đối tượng ô tìm kiếm và bảng
        var input = document.getElementById('searchInput');
        var table = document.getElementById('myTable');

        // Thêm sự kiện 'input' cho ô tìm kiếm
        input.addEventListener('input', function () {
            // Gọi hàm filterTable khi người dùng nhập liệu
            filterTable();
        });

        function filterTable() {
            // Lấy giá trị từ ô tìm kiếm và chuyển đổi thành chữ thường
            var filter = input.value.toLowerCase();

            // Lấy tất cả các dòng trong tbody của bảng
            var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

            // Lặp qua từng dòng và ẩn hoặc hiển thị dựa trên từ khóa tìm kiếm
            for (var i = 0; i < rows.length; i++) {
                var rowData = rows[i].innerText.toLowerCase();
                if (rowData.includes(filter)) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    });
     const iconLoading = document.getElementById("loading");

    const showLoading = () => {
        iconLoading.style.display = "flex";
    };

    const hideLoading = () => {
        iconLoading.style.display = "none";
    };

    const updatePosition = () => {
        showLoading(); // Show loading spinner when the button is clicked

        // You can perform additional logic here before or after the form submission
        // For example, submit the form programmatically
        document.querySelector('form').submit();

        // If you want to prevent the form from submitting immediately, you can remove the form submission line

        // Hide loading spinner after the form submission is complete
        setTimeout(() => {
            hideLoading(); // Hide loading icon after some time (replace this with your actual logic)
        }, 1000);
    };
</script>