@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMListIRequire
@{
    string userRole = Context.Request.HttpContext.Session.GetString("Role");
}
<div class="container-fluid">
    @if(userRole == "Admin")
    {
        Layout = "_AdminLayout";
        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"><a>Nhân viên lắp đặt</a></li>
                    <li class="breadcrumb-item"><a>Quản lý yêu cầu lắp</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Danh sách yêu cầu lắp</li>
                </ol>
            </nav>
            <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
            <div class="row">
                <input type="search" style="margin-left: 10px;" placeholder="Tìm kiếm biên bản nhận lắp" />
            </div>
        </div>
    }
    else
    {
        Layout = "_Layout";
        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"><a>Quản lý yêu cầu lắp</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Danh sách yêu cầu lắp</li>
                </ol>
            </nav>
            <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
            <div class="row">
                <input type="search" style="margin-left: 10px;" placeholder="Tìm kiếm biên bản nhận lắp" />
            </div>
        </div>

    }

    <div class="listTable_Record mt-4 bg-white" >
        <table class="table">
            <thead>
                <tr style="color: #8B909A;">
                    <th scope="col">ID</th>
                    <th scope="col">NGÀY TẠO</th>
                    <th scope="col">TÊN BIÊN BẢN</th>
                    <th scope="col">ĐỊA CHỈ LẮP ĐẶT</th>
                    <th scope="col">HỢP ĐỒNG</th>
                    <th scope="col">HÀNH ĐỘNG</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var r in Model.IRequirements)
                {
                    <tr>
                        <th scope="row">@r.InstallRequireID</th>
                        <td>@r.DateCreated.ToString("dd/MM/yyyy")</td>
                        <td>@r.MinuteName</td>
                        @foreach (var add in Model.DContracts)
                        {
                            if (r.DoneContractId == add.DContractID)
                            {
                                <td>@add.InstallationAddress</td>
                            }
                        }
                        
                        <td>
                            <a>Chi tiết</a>
                        </td>
                        <td>
                            <a class="accpet" asp-action="GetTaskFormIR" asp-route-iRequirementID="@r.InstallRequireID">
                                Nhận  @if (TempData["SweetType"] != null && TempData["SweetIcon"] != null && TempData["SweetTitle"] != null)
                                {
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function () {
                                            var sweetData = {
                                                title: '@TempData["SweetTitle"]',
                                                text: '@TempData["SweetText"]',
                                                icon: '@TempData["SweetIcon"]'
                                            };

                                            console.log("Sweet Data:", sweetData);

                                            Swal.fire({
                                                title: sweetData.title,
                                                text: sweetData.text,
                                                icon: sweetData.icon,
                                                showCancelButton: false,
                                                allowOutsideClick: false,
                                                confirmButtonColor: "green",
                                                confirmButtonText: "Ok"
                                            }).then(function () {
                                                // Handle any additional logic after the SweetAlert is closed.
                                            });
                                        });
                                    </script>
                                }
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>