@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMListTOS
@{
    string userRole = Context.Request.HttpContext.Session.GetString("Role");
}
<style>
    .loading {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.479);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .loading img {
            width: 7rem;
        }
</style>
<div class="loading" id="loading">
    <img src="https://icon-library.com/images/spinner-icon-gif/spinner-icon-gif-10.jpg" alt="loading">
</div>
<div class="container-fluid">
    @if(userRole == "Admin")
    {
        Layout = "_AdminLayout";

        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"><a>Nhân viên lắp đặt</a></li>
                    <li class="breadcrumb-item"><a>Quản lý thiết bị</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Danh sách dịch vụ</li>
                </ol>
            </nav>
            <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
            <div class="row">
                <input type="search" id="searchInput" style="margin-left: 10px;" placeholder="Tìm kiếm biên bản nhận lắp" />
            </div>
        </div>
    }
    else
    {
        Layout = "_Layout";
        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"><a>Quản lý thiết bị</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Danh sách dịch vụ</li>
                </ol>
            </nav>
            <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
            <div class="row">
                <input type="search" id="searchInput" style="margin-left: 10px;" placeholder="Tìm kiếm..." />
            </div>
        </div>
    }
    <div class="listTable bg-white mt-3 rounded ">
        <table class="table display" id="myTable">
            <thead>
                <tr style="color: #8B909A;">
                    <th scope="col">ID</th>
                    <th scope="col">NGÀY TẠO</th>
                    <th scope="col">NGÀY CẬP NHẬT</th>
                    <th scope="col">TÊN DỊCH VỤ</th>
                    <th scope="col">GIÁ</th>
                    <th scope="col">ĐƠN VỊ THỜI GIAN</th>
                    <th scope="col">TRẠNG THÁI</th>
                    <th scope="col">HÀNH ĐỘNG</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var item in Model.TypeOfServices)
                {
                    <tr>
                        <td scope="row">@item.TOS_ID</td>
                        <td>
                            @item.DateAdded?.ToString("HH:mm:ss dd/MM/yyyy")
                        </td>
                        <td>
                            @item.DateUpdated?.ToString("HH:mm:ss dd/MM/yyyy")
                        </td>
                        <td>@item.ServiceName</td>
                        <td>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.Price)</td>
                        <td>@item.PerTime</td>
                        <td>
                                @if (item.isHidden)
                                {
                                <div class="d-flex align-items-center">
                                    <div style="width: 5px; height: 5px; background-color: red; border-radius: 50%; margin-right: 10px;"></div>
                                    <span>Đã khoá</span>
                                </div>
                                }
                                else
                                {
                                <div class="d-flex align-items-center">
                                    <div style="width: 5px; height: 5px; background-color: #00C9A7; border-radius: 50%; margin-right: 10px;"></div>
                                    <span>Có thể sử dụng</span>
                                </div>
                                }
                        </td>
                        <td>
                            <a asp-route-tosID="@item.TOS_ID" asp-action="DetailsTypeOfService" asp-controller="InstallStaff" onclick="updatePosition()">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        // Khởi tạo DataTable
        $('#myTable').DataTable({
            "searching": false,
            "info": false,
            "lengthMenu": [10, 25, 50, 100],
            "pageLength": 25,
            "language": {
                "decimal": "",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Sau",
                    "previous": "Trước"
                },
                "lengthMenu": "Hiển thị _MENU_ dữ liệu",
                "emptyTable": "Không có dữ liệu"
            }
        });
    });


    // tìm kiếm
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy đối tượng ô tìm kiếm và bảng
        var input = document.getElementById('searchInput');
        var table = document.getElementById('myTable');

        // Thêm sự kiện 'input' cho ô tìm kiếm
        input.addEventListener('input', function () {
            // Gọi hàm filterTable khi người dùng nhập liệu
            filterTable();
        });

        function filterTable() {
            // Lấy giá trị từ ô tìm kiếm và chuyển đổi thành chữ thường
            var filter = input.value.toLowerCase();

            // Lấy tất cả các dòng trong tbody của bảng
            var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

            // Lặp qua từng dòng và ẩn hoặc hiển thị dựa trên từ khóa tìm kiếm
            for (var i = 0; i < rows.length; i++) {
                var rowData = rows[i].innerText.toLowerCase();
                if (rowData.includes(filter)) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    });

     const iconLoading = document.getElementById("loading");

    const showLoading = () => {
        iconLoading.style.display = "flex";
    };

    const hideLoading = () => {
        iconLoading.style.display = "none";
    };

    const updatePosition = () => {
        showLoading(); // Show loading spinner when the button is clicked

        // You can perform additional logic here before or after the form submission
        // For example, submit the form programmatically
        document.querySelector('form').submit();

        // If you want to prevent the form from submitting immediately, you can remove the form submission line

        // Hide loading spinner after the form submission is complete
        setTimeout(() => {
            hideLoading(); // Hide loading icon after some time (replace this with your actual logic)
        }, 1000);
    };
</script>