@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMListTOS
@{
}
<div class="container-fluid">
    <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                <li class="breadcrumb-item"><a>Quản lý thiết bị</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Danh sách dịch vụ</li>
            </ol>
        </nav>
        <h1 class="typeHead">TẤT CẢ DANH SÁCH</h1>
        <div class="row">
            <input type="search" style="margin-left: 10px;" placeholder="Tìm kiếm biên bản nhận lắp" />
        </div>
    </div>
    <div class="listTable" style="background-color:white; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); min-height:700px">
        <table class="table">
            <thead>
                <tr style="color: #8B909A;">
                    <th scope="col">ID</th>
                    <th scope="col">NGÀY TẠO</th>
                    <th scope="col">NGÀY CẬP NHẬT</th>
                    <th scope="col">TÊN DỊCH VỤ</th>
                    <th scope="col">GIÁ</th>
                    <th scope="col">ĐƠN VỊ THỜI GIAN</th>
                    <th scope="col">TRẠNG THÁI</th>
                    <th scope="col">HÀNH ĐỘNG</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var item in Model.TypeOfServices)
                {
                    <tr>
                        <td scope="row">@item.TOS_ID</td>
                        <td>
                            @item.DateAdded?.ToString("HH:mm:ss dd/MM/yyyy")
                        </td>
                        <td>
                            @item.DateUpdated?.ToString("HH:mm:ss dd/MM/yyyy")
                        </td>
                        <td>@item.ServiceName</td>
                        <td>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.Price)</td>
                        <td>@item.PerTime</td>
                        <td>
                                @if (item.isHidden)
                                {
                                <div class="d-flex align-items-center">
                                    <div style="width: 5px; height: 5px; background-color: red; border-radius: 50%; margin-right: 10px;"></div>
                                    <span>Đã khoá</span>
                                </div>
                                }
                                else
                                {
                                <div class="d-flex align-items-center">
                                    <div style="width: 5px; height: 5px; background-color: #00C9A7; border-radius: 50%; margin-right: 10px;"></div>
                                    <span>Có thể sử dụng</span>
                                </div>
                                }
                        </td>
                        <td>
                            <a asp-route-tosID="@item.TOS_ID" asp-action="DetailsTypeOfService" asp-controller="InstallStaff">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>