@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMSignByStaff
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment _hostingEnvironment

@{

    // Lấy link trực ảnh từ file tỉnh
    string folderPath = System.IO.Path.Combine(_hostingEnvironment.WebRootPath, "PMinuteImage"); // + thêm ID của contract

    string folderItem = System.IO.Path.Combine(folderPath, Model.PMinute.PendingMinuteId.ToString());

    string[] imageFiles = Directory.GetFiles(folderItem);

    string defaultImg = null;
    if (Model.PFXCertificate.DefaultImageSignature != null)
    {
        defaultImg = Model.PFXCertificate.DefaultImageSignature.Replace(@"\", @"/");
    }

    string userRole = Context.Request.HttpContext.Session.GetString("Role");
}

<style>
    #loading-spinner {
        display: none;
        z-index: 1;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        position: fixed;
        top: 100%;
        left: 100%;
        transform: translate(-50%, -50%);
    }

        #loading-spinner > img {
            width: 10rem;
        }
</style>

<!-- ssss-->
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

<!-- SuperSignature : Script (required) -->
<script language="javascript" type="text/javascript" src="~/Scripts/ss.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="container-fluid">
    @if (userRole == "Admin")
    {
        Layout = "_AdminLayout";
        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex rounded">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"><a>Nhân viên lắp đặt</a></li>
                    <li class="breadcrumb-item"><a>Quản lý yêu cầu lắp</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Biên bản đã nhận lắp</li>
                </ol>
            </nav>
            <h1 class="typeHead">KÝ XÁC NHẬN</h1>
            <div class="row justify-content-between mx-auto">
                <a class="col-md-2 button-design" asp-action="ListInStallRecord" asp-controller="InstallStaff" >
                    <i class="ph-bold ph-arrow-left">
                    </i>
                    QUAY LẠI
                </a>
                <div class="col-md-4 offset-md-5 d-flex justify-content-end">
                    <a class="button-design col-md-6" asp-action="SignByCus" asp-route-pMinuteID="@Model.PMinute.PendingMinuteId" onclick="handleLinkClick(event)">
                        CHUYỂN VÙNG KHÁCH KÝ
                    </a>
                    <a class="button-save col-md-4 @ViewBag.block" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        KÝ XÁC NHẬN
                    </a>
                </div>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">KÝ BIÊN BẢN</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5>
                                    Chọn chữ ký khác
                                </h5>
                                <ul style="max-height:400px; overflow-y:scroll;">
                                    @if (Model.PFXCertificate.ImageSignature1 != null)
                                    {
                                        <li class="image-container" onclick="enableButton('button2', this,'@Model.PFXCertificate.ImageSignature1.Replace(@"\",@"/")')">
                                            <img src="~/@Model.PFXCertificate.ImageSignature1.Replace(@"\",@"/")" width="400" height="200" />
                                        </li>
                                    }
                                    @if (Model.PFXCertificate.ImageSignature2 != null)
                                    {
                                        <li class="image-container" onclick="enableButton('button2', this,'@Model.PFXCertificate.ImageSignature2.Replace(@"\",@"/")')">
                                            <img src="~/@Model.PFXCertificate.ImageSignature2.Replace(@"\",@"/")" width="400" height="200" />
                                        </li>
                                    }
                                    @if (Model.PFXCertificate.ImageSignature3 != null)
                                    {
                                        <li class="image-container" onclick="enableButton('button2', this,'@Model.PFXCertificate.ImageSignature3.Replace(@"\",@"/")')">
                                            <img src="~/@Model.PFXCertificate.ImageSignature3.Replace(@"\",@"/")" width="400" height="200" />
                                        </li>
                                    }
                                    @if (Model.PFXCertificate.ImageSignature4 != null)
                                    {
                                        <li class="image-container" onclick="enableButton('button2', this,'@Model.PFXCertificate.ImageSignature4.Replace(@"\",@"/")')">
                                            <img src="~/@Model.PFXCertificate.ImageSignature4.Replace(@"\",@"/")" width="400" height="200" />
                                        </li>
                                    }
                                    @if (Model.PFXCertificate.ImageSignature5 != null)
                                    {
                                        <li class="image-container" onclick="enableButton('button2', this,'@Model.PFXCertificate.ImageSignature5.Replace(@"\",@"/")')">
                                            <img src="~/@Model.PFXCertificate.ImageSignature5.Replace(@"\",@"/")" width="400" height="200" />
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" id="button2" disabled onclick="signWithSelectedImg()">
                                    KÝ
                                </button>
                                <button class="button-save" id="button1" onclick="signWithDefaultImg()">
                                    KÝ BẰNG CHỮ KÝ MẶC ĐỊNH
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        Layout = "_Layout";
        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex rounded">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"><a>Quản lý yêu cầu lắp</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Biên bản đã nhận lắp</li>
                </ol>
            </nav>
            <h1 class="typeHead">KÝ XÁC NHẬN</h1>
            <div class="row justify-content-between">
                <a class="col-md-2 button-design" asp-action="ListInStallRecord" asp-controller="InstallStaff">
                    <i class="ph-bold ph-arrow-left">
                    </i>
                    QUAY LẠI
                </a>
                <div class="col-md-3 offset-md-6 d-flex justify-content-end">
                    <a class="button-design col-md-8" asp-action="SignByCus" asp-route-pMinuteID="@Model.PMinute.PendingMinuteId" onclick="handleLinkClick(event)">
                        CHUYỂN VÙNG KHÁCH KÝ
                    </a>
                    <a class="button-save col-md-6 @ViewBag.block" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        KÝ XÁC NHẬN
                    </a>
                </div>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">KÝ BIÊN BẢN</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5>
                                    Chọn chữ ký khác
                                </h5>
                                <ul style="max-height:400px; overflow-y:scroll;">
                                    @if (Model.PFXCertificate.ImageSignature1 != null)
                                    {
                                        <li class="image-container" onclick="enableButton('button2', this,'@Model.PFXCertificate.ImageSignature1.Replace(@"\",@"/")')">
                                            <img src="~/@Model.PFXCertificate.ImageSignature1.Replace(@"\",@"/")" width="390" height="200" />
                                        </li>
                                    }
                                    @if (Model.PFXCertificate.ImageSignature2 != null)
                                    {
                                        <li class="image-container" onclick="enableButton('button2', this,'@Model.PFXCertificate.ImageSignature2.Replace(@"\",@"/")')">
                                            <img src="~/@Model.PFXCertificate.ImageSignature2.Replace(@"\",@"/")" width="390" height="200" />
                                        </li>
                                    }
                                    @if (Model.PFXCertificate.ImageSignature3 != null)
                                    {
                                        <li class="image-container" onclick="enableButton('button2', this,'@Model.PFXCertificate.ImageSignature3.Replace(@"\",@"/")')">
                                            <img src="~/@Model.PFXCertificate.ImageSignature3.Replace(@"\",@"/")" width="390" height="200" />
                                        </li>
                                    }
                                    @if (Model.PFXCertificate.ImageSignature4 != null)
                                    {
                                        <li class="image-container" onclick="enableButton('button2', this,'@Model.PFXCertificate.ImageSignature4.Replace(@"\",@"/")')">
                                            <img src="~/@Model.PFXCertificate.ImageSignature4.Replace(@"\",@"/")" width="390" height="200" />
                                        </li>
                                    }
                                    @if (Model.PFXCertificate.ImageSignature5 != null)
                                    {
                                        <li class="image-container" onclick="enableButton('button2', this,'@Model.PFXCertificate.ImageSignature5.Replace(@"\",@"/")')">
                                            <img src="~/@Model.PFXCertificate.ImageSignature5.Replace(@"\",@"/")" width="390" height="200" />
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" id="button2" disabled onclick="signWithSelectedImg()">
                                    KÝ
                                </button>
                                <button class="button-save" id="button1" onclick="signWithDefaultImg()">
                                    KÝ BẰNG CHỮ KÝ MẶC ĐỊNH
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
    <div class="row mt-4 bg-white rounded">
        <div class="col-6" style="min-width: 800px;">
            <div id="myCarousel" class="carousel slide" style="width: 100%; height:100%;">
                <div class="carousel-inner">
                    <div class="carousel-item active " style="width:800px;">
                        <img src="~/Resource/Image/LOGO/1.png" alt="Hình ảnh" style="margin:100px auto;" />
                    </div>
                    @foreach (var imgPath in imageFiles)
                    {
                        <div class="carousel-item" style="max-height: 800px;overflow-y: scroll;">
                            <img src="@Url.Content("~/PMinuteImage/"+Model.PMinute.PendingMinuteId+ "/" + System.IO.Path.GetFileName(imgPath))" alt="Hình ảnh" style="width:100%;" />
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" style="margin: auto;background-color: black;font-size: 100px;width: 50px;height: 100px;">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                    <span class="visually-hidden" >Previous</span>
                </button>
                <button style="margin: auto;background-color: black;font-size: 100px; width: 50px;height: 100px;" class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                    <span class="visually-hidden" >Next</span>
                </button>
            </div>
        </div>
        <div class="inforCus col-5 mt-4" style="max-height:800px; overflow-y: scroll; ">
            <h4 style="color: #4318FF;">
                Thông tin khách hàng
            </h4>
            <form class="row g-3" style="max-width:950px;">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Họ và tên</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Họ và tên" readonly asp-for="Customer.FullName">
                </div>
                <div class="col-md-3">
                    <label for="inputState" class="form-label">Giới tính</label>
                    @if (Model.Customer.Gender == 1)
                    {
                        <input type="text" class="form-control" id="inputName" readonly value="Nam">
                    }
                    else
                    {
                        <input type="text" class="form-control" id="inputName" readonly value="Nữ">
                    }
                </div>
                <div class="col-md-6">
                    <label for="inputCCCD" class="form-label">CCCD/CMND</label>
                    <input type="text" class="form-control" id="inputCCCD" placeholder="CCCD/CMND" readonly asp-for="Customer.Identification">
                </div>
                <div class="col-md-6">
                    <label for="inputPhone" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="inputPhone" placeholder="Số điện thoại" readonly asp-for="Customer.PhoneNumber">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Địa chỉ Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Địa chỉ Email" readonly asp-for="Customer.Email">
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Nơi ở</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Địa chỉ nơi ở" readonly asp-for="Customer.Address">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Mã hợp đồng</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="IDxxx" readonly value="@ViewBag.DContracID">
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Loại dịch vụ đã đăng ký</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="WIFI" readonly value="@ViewBag.ServiceName">

                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Ngày tạo</label>
                    <input class="form-control" id="inputEmail4" placeholder="IDxxx" readonly asp-for="PMinute.DateCreated">
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Mã Biên bản lắp </label>
                    <input class="form-control" id="inputEmail4" placeholder="IDxxx" readonly asp-for="PMinute.PendingMinuteId">
                </div>
            </form>
        </div>
    </div>
    <div id="loading-spinner">
        <img src="https://icon-library.com/images/spinner-icon-gif/spinner-icon-gif-10.jpg" alt="loading">
    </div>
</div>
<script type="text/javascript">

    function handleLinkClick(event) {
        document.getElementById('loading-spinner').style.display = 'block';
    }

    var imagePath;

    $(document).ready(function () {
        $('#myCarousel').carousel({
            interval: false
        });
    });

    function enableButton(buttonId, imageContainer, imageSelected) {
        imagePath = imageSelected;

        // Lấy button và hình ảnh được chọn
        var button = document.getElementById(buttonId);

        // Loại bỏ thuộc tính disabled nếu hình ảnh được chọn
        button.removeAttribute('disabled');

        // Loại bỏ lớp 'selected' từ tất cả các hình ảnh khác
        var allImageContainers = document.querySelectorAll('.image-container');
        allImageContainers.forEach(function (container) {
            container.classList.remove('selected');
        });

        // Thêm lớp 'selected' cho hình ảnh được chọn để tạo hiệu ứng
        imageContainer.classList.add('selected');
    }

    function signWithSelectedImg() {

        var myDiv = document.getElementById('staticBackdrop');

        // Thêm hoặc xóa class
        myDiv.classList.toggle('show');
        myDiv.classList.toggle('hide');

        // Thay đổi giá trị của thuộc tính style
        myDiv.style.display = myDiv.style.display === 'block' ? 'none' : 'block';

        document.getElementById('loading-spinner').style.display = 'block';

        var signing = {
            Serial: '@Model.PFXCertificate.Serial',
            IdFile: '@Model.PMinute.PendingMinuteId',
            Base64StringFile: '',
            ImagePath: imagePath,
            Base64StringFileStamp: '',
            ImagePathStamp: ''
        };

        $.ajax({
            url: '@Url.Action("SignContract")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(signing),
            success: function (result) {
                if (!result.success) {
                    // Chuyển hướng tới trang mong muốn

                    Swal.fire({
                        icon: 'success',
                        title: 'Ký thành công!',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        var redirectToUrl = '@Url.Action("SignByCus", "InstallStaff")?pMinuteID=' + @Model.PMinute.PendingMinuteId;
                        window.location.href = redirectToUrl;
                    });
                }
            },
            error: function (xhr, status, error) {
                console.error('Lỗi khi gửi yêu cầu:', error);

                console.log(xhr);
                // Hiển thị thông báo lỗi
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi!',
                    text: 'Lỗi khi gửi yêu cầu: ' + error,
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                
                    var redirectToUrl = '@Url.Action("ListInstallRecord")';
                    window.location.href = redirectToUrl;
                });

            }
        });
    }

    var defaultImg = '@Html.Raw(defaultImg)';

    function signWithDefaultImg() {

        var myDiv = document.getElementById('staticBackdrop');

        // Thêm hoặc xóa class
        myDiv.classList.toggle('show');
        myDiv.classList.toggle('hide');

        // Thay đổi giá trị của thuộc tính style
        myDiv.style.display = myDiv.style.display === 'block' ? 'none' : 'block';

        document.getElementById('loading-spinner').style.display = 'block';

        if (defaultImg == '') {
            Swal.fire({
                icon: 'error',
                title: 'Lỗi!',
                text: 'Bạn chưa cài đặt chữ ký mặc định!!',
                showConfirmButton: false,
                timer: 1500
            }).then(() => {

            });
        } else {
            var signingDefault = {
                Serial: '@Model.PFXCertificate.Serial',
                IdFile: '@Model.PMinute.PendingMinuteId',
                Base64StringFile: '',
                ImagePath: defaultImg,
                Base64StringFileStamp: '',
                ImagePathStamp: ''
            }

            $.ajax({
                url: '@Url.Action("SignContract")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(signingDefault),
                success: function (result) {
                    if (!result.success) {
                        // Chuyển hướng tới trang mong muốn

                        Swal.fire({
                            icon: 'success',
                            title: 'Ký thành công!',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                           
                            var redirectToUrl = '@Url.Action("SignByCus", "InstallStaff")?pMinuteID=' + @Model.PMinute.PendingMinuteId;
                            window.location.href = redirectToUrl;
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Lỗi khi gửi yêu cầu:', error);

                    console.log(xhr);
                    // Hiển thị thông báo lỗi
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi!',
                        text: 'Lỗi khi gửi yêu cầu: ' + error,
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                  
                        var redirectToUrl = '@Url.Action("ListContractAwait", "Director")';
                        window.location.href = redirectToUrl;
                    });
                }
            });
        }

    }

    function handleButtonClick() {
        alert('Button clicked!');
    }
  

</script>